# Import e tratamento dos dados

## Import de dados

In [1]:
import pandas as pd
import chardet

In [2]:
with open("02_dados_pre_tratados/dados_fundo_assistencia_social_2013.csv", "rb") as f:
    result = chardet.detect(f.read())

df_assistencia_social_2013 = pd.read_csv("02_dados_pre_tratados/dados_fundo_assistencia_social_2013.csv", sep=";", encoding=result['encoding'])
df_assistencia_social_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,869,1,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
1,869,2,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
2,871,3,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,"168,06","168,06","168,06",0
3,868,4,15/01/2013,JOSEFA LÉA DA SILVA SANTOS,140.984.074-34,"1.000,00","1.000,00","1.000,00",0
4,871,5,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,"91,36","91,36","91,36",0
...,...,...,...,...,...,...,...,...,...
1119,865,1121,31/12/2013,INSS,29.979.036/0169-00,"28.515,05","28.515,05",0,"28.515,05"
1120,865,1122,31/12/2013,INSS,29.979.036/0169-00,"34.859,25","34.859,25",0,"34.859,25"
1121,865,1123,31/12/2013,INSS,29.979.036/0169-00,"23.872,25","23.872,25",0,"23.872,25"
1122,865,1124,31/12/2013,INSS,29.979.036/0169-00,"1.078,00","1.078,00",0,"1.078,00"
1123,851,1125,31/12/2013,MARIA DO SOCORRO SARAIVA,346.613.103-06,"1.280,00","1.280,00",0,"1.280,00"

In [3]:
df_fundo_municipal_saude_2013 = pd.read_csv("02_dados_pre_tratados/dados_fundo_municipal_saude_2013.csv", sep=";", encoding=result['encoding'])
df_fundo_municipal_saude_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,581,1,02/01/2013,ENERGISA,09.095.183/0001-40,"928,03","928,03","928,03",0
1,581,2,02/01/2013,ENERGISA,09.095.183/0001-40,"20,69","20,69","20,69",0
2,581,3,02/01/2013,CAGEPA,09.123.654/0001-87,0,0,0,0
3,581,4,02/01/2013,CAGEPA,09.123.654/0001-87,"91,36","91,36","91,36",0
4,581,5,02/01/2013,CAGEPA,09.123.654/0001-87,"508,95","508,95","508,95",0
...,...,...,...,...,...,...,...,...,...
2639,581,2647,31/12/2013,CAGEPA,09.123.654/0001-87,"253,79","253,79",0,"253,79"
2640,581,2648,31/12/2013,CAGEPA,09.123.654/0001-87,"168,06","168,06",0,"168,06"
2641,581,2649,31/12/2013,CAGEPA,09.123.654/0001-87,"90,28","90,28",0,"90,28"
2642,601,2650,31/12/2013,Fundo Municipal de Saúde,11.902.878/0001-39,"171.061,22","171.061,22",0,"171.061,22"
2643,581,2653,31/12/2013,ENERGISA,09.095.183/0001-40,"11.198,09","11.198,09",0,"11.198,09"

In [4]:
df_prefeitura_2013 = pd.read_csv("02_dados_pre_tratados/dados_prefeitura_2013.csv", sep=";", encoding=result['encoding'])
df_prefeitura_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,42,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,"45,68","45,68","45,68",0
1,38,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"13.309,74","13.309,74","13.309,74",0
2,43,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,"37.073,10","37.073,10","37.073,10",0
3,43,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,"3.223,75","3.223,75","3.223,75",0
4,43,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,"39.698,37","39.698,37","39.698,37",0
...,...,...,...,...,...,...,...,...,...
3236,82,3160,24/12/2013,ALAN PETSON L.MARCOLINO (INFO PRINTER),07.748.243/0001-51,537,537,0,537
3237,76,3177,30/12/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"10.860,83","10.860,83",0,"10.860,83"
3238,76,3193,30/12/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"1.200,00","1.200,00",0,"1.200,00"
3239,82,3221,30/12/2013,FRANCISCO LUCIANO DE OLIVEIRA - XEROX,09.238.207/0001-73,"1.384,00","1.384,00",0,"1.384,00"
3240,82,3266,30/12/2013,A. G. F. CONSTRUÇÕES E SERVIÇOS LTDA - ME,04.801.728/0001-73,"1.480,00","1.480,00",0,"1.480,00"

In [5]:
df_previdencia_2013 = pd.read_csv("02_dados_pre_tratados/dados_instituto_previdencia_social_2013.csv", sep=";", encoding=result['encoding'])
df_previdencia_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,11,1,25/01/2013,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"114,4","114,4","114,4",0
1,10,2,25/01/2013,LORENA SOARES LACERDA,062.843.174-09,700,700,700,0
2,12,3,25/01/2013,TIM CELULAR S/A,01.009.686/0080-48,"551,65","551,65","551,65",0
3,11,4,25/01/2013,ENERGISA - SAELPA,09.095.183/0001-40,"226,82","226,82","226,82",0
4,11,5,25/01/2013,CAGEPA,09.123.654/0001-87,"45,68","45,68","45,68",0
...,...,...,...,...,...,...,...,...,...
286,8,287,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
287,8,288,30/12/2013,WANDERSON BANDEIRA DE SOUZA,022.155.044-55,500,500,500,0
288,8,289,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
289,7,290,30/12/2013,SALARIO FAMILIA-CAMARA (BPT),08.841.553/0001-89,"420,48","420,48","420,48",0
290,11,291,30/12/2013,BANCO SANTANDER,11.180.607/0001-17,29,29,29,0

In [6]:
df_sctrans_2013 = pd.read_csv("02_dados_pre_tratados/dados_sctrans_2013.csv", sep=";", encoding=result['encoding'])
df_sctrans_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,60015,1,14/01/2013,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,"28,5","28,5","28,5",0
1,60005,2,20/01/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,"15.957,22","15.957,22","15.957,22",0
2,60005,3,20/01/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,"7.900,00","7.900,00","7.900,00",0
3,60006,4,20/01/2013,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.738,00","1.738,00","1.738,00",0
4,60014,5,20/01/2013,JOSE AUDISIO DIAS DE LIMA,063.176.934-04,850,850,850,0
...,...,...,...,...,...,...,...,...,...
304,60005,305,30/12/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,"17.901,42",0,0,"17.901,42"
305,60005,306,30/12/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,"11.346,48",0,0,"11.346,48"
306,60015,307,31/12/2013,BANCO DO BRASIL S/A,00.000.000/0099-03,"68,9","68,9","68,9",0
307,60015,308,17/12/2013,ENERGISA,09.095.183/0001-40,"1.483,86","1.483,86","1.483,86",0
308,60014,309,31/12/2013,FRANCISCO DE ASSIS PEREIRA DA COSTA,175.988.578-90,"1.200,00","1.200,00",0,"1.200,00"

In [7]:
df_camara_2013 = pd.read_csv("02_dados_pre_tratados/dados_camara_2013.csv", sep=";", encoding=result['encoding'])
df_camara_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,1010,7954,31/12/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"13.981,19","13.981,19","13.981,19",0
1,1017,7955,31/12/2013,Marcos Helder,646.603.624-34,"9.088,08","9.088,08","9.088,08",0
2,1016,7956,31/12/2013,Marcos Helder,646.603.624-34,"4.995,17","4.995,17","4.995,17",0
3,1009,7957,31/12/2013,Marcos Helder,646.603.624-34,"5.270,00","5.270,00","5.270,00",0
4,1007,7959,31/12/2013,Marcos Helder,646.603.624-34,"7.238,17","7.238,17","7.238,17",0
5,1006,7960,31/12/2013,Marcos Helder,646.603.624-34,"7.350,00","7.350,00","7.350,00",0
6,1005,7961,31/12/2013,Marcos Helder,646.603.624-34,"243,5","243,5","243,5",0
7,1001,7962,31/12/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"141.078,06","141.078,06","141.078,06",0
8,1014,7963,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"17.247,30","17.247,30","17.247,30",0
9,1019,7964,29/11/2013,Marcos Helder,646.603.624-34,"22.388,60","22.388,60","22.388,60",0
10,1017,7965,29/11/2013,Marcos Helder,646.603.624-34,"50.921,59","50.921,59","50.921,59",0
11,1016,7966,29/11/2013,Marcos Helder,646.603.624-34,"296.153,06","296.153,06","296.153,06",0
12,1007,7967,29/11/2013,Marcos Helder,646.603.624-34,"61.909,23","61.909,23","61.909,23",0
13,1006,7968,29/11/2013,Marcos Helder,646.603.624-34,"104.250,00","104.250,00","104.250,00",0
14,1015,7969,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"14.320,00","14.320,00","14.320,00",0
15,1013,7970,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"3.121,43","3.121,43","3.121,43",0
16,1010,7971,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"104.261,26","104.261,26","104.261,26",0
17,1009,7972,29/11/2013,Marcos Helder,646.603.624-34,"114.092,00","114.092,00","114.092,00",0
18,1005,7973,29/11/2013,Marcos Helder,646.603.624-34,"3.166,50","3.166,50","3.166,50",0
19,1001,7974,29/11/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"1.665.180,17","1.665.180,17","1.665.180,17",0

## Tratamento dos DataFrames

In [8]:
# Definindo tipos das colunas antes de ler o dataset
columns_types = {'Empenhado(R$)':float,
                'Liquidado(R$)':float,
                'Pago(R$)':float,
                'Saldo(R$)':float}

In [9]:
'''
Função para tratamento dos valores monetários

'''

def tratar_valores(valor):
    
    '''
        Primeiramente, procura-se a localização do ponto, que separava os milhares, e a vírgula que definia os centavos de reais.
    '''
    posicao_virgula = valor.find(',')
    posicao_ponto = valor.find('.') 
    
    '''
        Após o armazenamento das posições de cada separador, armazenava o valor em uma nova string, sem os pontos e vírgulas, 
        e encontrava a nova posição do separador, agora um ponto.
    '''
    string = ''.join(filter(str.isalnum, valor))
    nova_posicao_ponto = posicao_virgula - (len(valor) - len(string))

    '''
        Por fim, após verificar qual condição a nova string se encaixava, retornava-se a nova string com o devido tratamento.
    '''
    if len(string) == len(valor):
        return valor
    
    elif posicao_ponto != -1:        
        string = string[0:nova_posicao_ponto+1] + '.' + string[nova_posicao_ponto+1:]
        return string
    
    else:
        string = string[0:posicao_virgula] + '.' + string[posicao_virgula:]
        return string

### Tratando dados

In [10]:
df_assistencia_social_2013['Empenhado(R$)'] = df_assistencia_social_2013['Empenhado(R$)'].apply(tratar_valores)
df_assistencia_social_2013['Pago(R$)'] = df_assistencia_social_2013['Pago(R$)'].apply(tratar_valores)
df_assistencia_social_2013['Liquidado(R$)'] = df_assistencia_social_2013['Liquidado(R$)'].apply(tratar_valores)
df_assistencia_social_2013['Saldo(R$)'] = df_assistencia_social_2013['Saldo(R$)'].apply(tratar_valores)

df_assistencia_social_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,869,1,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
1,869,2,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
2,871,3,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,168.06,168.06,168.06,0
3,868,4,15/01/2013,JOSEFA LÉA DA SILVA SANTOS,140.984.074-34,1000.00,1000.00,1000.00,0
4,871,5,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,91.36,91.36,91.36,0
...,...,...,...,...,...,...,...,...,...
1119,865,1121,31/12/2013,INSS,29.979.036/0169-00,28515.05,28515.05,0,28515.05
1120,865,1122,31/12/2013,INSS,29.979.036/0169-00,34859.25,34859.25,0,34859.25
1121,865,1123,31/12/2013,INSS,29.979.036/0169-00,23872.25,23872.25,0,23872.25
1122,865,1124,31/12/2013,INSS,29.979.036/0169-00,1078.00,1078.00,0,1078.00
1123,851,1125,31/12/2013,MARIA DO SOCORRO SARAIVA,346.613.103-06,1280.00,1280.00,0,1280.00

In [11]:
df_fundo_municipal_saude_2013['Empenhado(R$)'] = df_fundo_municipal_saude_2013['Empenhado(R$)'].apply(tratar_valores)
df_fundo_municipal_saude_2013['Pago(R$)'] = df_fundo_municipal_saude_2013['Pago(R$)'].apply(tratar_valores)
df_fundo_municipal_saude_2013['Liquidado(R$)'] = df_fundo_municipal_saude_2013['Liquidado(R$)'].apply(tratar_valores)
df_fundo_municipal_saude_2013['Saldo(R$)'] = df_fundo_municipal_saude_2013['Saldo(R$)'].apply(tratar_valores)

df_fundo_municipal_saude_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,581,1,02/01/2013,ENERGISA,09.095.183/0001-40,928.03,928.03,928.03,0
1,581,2,02/01/2013,ENERGISA,09.095.183/0001-40,20.69,20.69,20.69,0
2,581,3,02/01/2013,CAGEPA,09.123.654/0001-87,0,0,0,0
3,581,4,02/01/2013,CAGEPA,09.123.654/0001-87,91.36,91.36,91.36,0
4,581,5,02/01/2013,CAGEPA,09.123.654/0001-87,508.95,508.95,508.95,0
...,...,...,...,...,...,...,...,...,...
2639,581,2647,31/12/2013,CAGEPA,09.123.654/0001-87,253.79,253.79,0,253.79
2640,581,2648,31/12/2013,CAGEPA,09.123.654/0001-87,168.06,168.06,0,168.06
2641,581,2649,31/12/2013,CAGEPA,09.123.654/0001-87,90.28,90.28,0,90.28
2642,601,2650,31/12/2013,Fundo Municipal de Saúde,11.902.878/0001-39,171061.22,171061.22,0,171061.22
2643,581,2653,31/12/2013,ENERGISA,09.095.183/0001-40,11198.09,11198.09,0,11198.09

In [12]:
df_prefeitura_2013['Empenhado(R$)'] = df_prefeitura_2013['Empenhado(R$)'].apply(tratar_valores)
df_prefeitura_2013['Pago(R$)'] = df_prefeitura_2013['Pago(R$)'].apply(tratar_valores)
df_prefeitura_2013['Liquidado(R$)'] = df_prefeitura_2013['Liquidado(R$)'].apply(tratar_valores)
df_prefeitura_2013['Saldo(R$)'] = df_prefeitura_2013['Saldo(R$)'].apply(tratar_valores)

df_prefeitura_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,42,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0
1,38,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0
2,43,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0
3,43,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0
4,43,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0
...,...,...,...,...,...,...,...,...,...
3236,82,3160,24/12/2013,ALAN PETSON L.MARCOLINO (INFO PRINTER),07.748.243/0001-51,537,537,0,537
3237,76,3177,30/12/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,10860.83,10860.83,0,10860.83
3238,76,3193,30/12/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,1200.00,1200.00,0,1200.00
3239,82,3221,30/12/2013,FRANCISCO LUCIANO DE OLIVEIRA - XEROX,09.238.207/0001-73,1384.00,1384.00,0,1384.00
3240,82,3266,30/12/2013,A. G. F. CONSTRUÇÕES E SERVIÇOS LTDA - ME,04.801.728/0001-73,1480.00,1480.00,0,1480.00

In [13]:
df_previdencia_2013['Empenhado(R$)'] = df_previdencia_2013['Empenhado(R$)'].apply(tratar_valores)
df_previdencia_2013['Pago(R$)'] = df_previdencia_2013['Pago(R$)'].apply(tratar_valores)
df_previdencia_2013['Liquidado(R$)'] = df_previdencia_2013['Liquidado(R$)'].apply(tratar_valores)
df_previdencia_2013['Saldo(R$)'] = df_previdencia_2013['Saldo(R$)'].apply(tratar_valores)

df_previdencia_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,11,1,25/01/2013,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,114.4,114.4,114.4,0
1,10,2,25/01/2013,LORENA SOARES LACERDA,062.843.174-09,700,700,700,0
2,12,3,25/01/2013,TIM CELULAR S/A,01.009.686/0080-48,551.65,551.65,551.65,0
3,11,4,25/01/2013,ENERGISA - SAELPA,09.095.183/0001-40,226.82,226.82,226.82,0
4,11,5,25/01/2013,CAGEPA,09.123.654/0001-87,45.68,45.68,45.68,0
...,...,...,...,...,...,...,...,...,...
286,8,287,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
287,8,288,30/12/2013,WANDERSON BANDEIRA DE SOUZA,022.155.044-55,500,500,500,0
288,8,289,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
289,7,290,30/12/2013,SALARIO FAMILIA-CAMARA (BPT),08.841.553/0001-89,420.48,420.48,420.48,0
290,11,291,30/12/2013,BANCO SANTANDER,11.180.607/0001-17,29,29,29,0

In [14]:
df_sctrans_2013['Empenhado(R$)'] = df_sctrans_2013['Empenhado(R$)'].apply(tratar_valores)
df_sctrans_2013['Pago(R$)'] = df_sctrans_2013['Pago(R$)'].apply(tratar_valores)
df_sctrans_2013['Liquidado(R$)'] = df_sctrans_2013['Liquidado(R$)'].apply(tratar_valores)
df_sctrans_2013['Saldo(R$)'] = df_sctrans_2013['Saldo(R$)'].apply(tratar_valores)

df_sctrans_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,60015,1,14/01/2013,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,28.5,28.5,28.5,0
1,60005,2,20/01/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,15957.22,15957.22,15957.22,0
2,60005,3,20/01/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,7900.00,7900.00,7900.00,0
3,60006,4,20/01/2013,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1738.00,1738.00,1738.00,0
4,60014,5,20/01/2013,JOSE AUDISIO DIAS DE LIMA,063.176.934-04,850,850,850,0
...,...,...,...,...,...,...,...,...,...
304,60005,305,30/12/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,17901.42,0,0,17901.42
305,60005,306,30/12/2013,Superintendência Cajazeirense de Trânsito,04.342.393/0001-72,11346.48,0,0,11346.48
306,60015,307,31/12/2013,BANCO DO BRASIL S/A,00.000.000/0099-03,68.9,68.9,68.9,0
307,60015,308,17/12/2013,ENERGISA,09.095.183/0001-40,1483.86,1483.86,1483.86,0
308,60014,309,31/12/2013,FRANCISCO DE ASSIS PEREIRA DA COSTA,175.988.578-90,1200.00,1200.00,0,1200.00

In [15]:
df_camara_2013['Empenhado(R$)'] = df_camara_2013['Empenhado(R$)'].apply(tratar_valores)
df_camara_2013['Pago(R$)'] = df_camara_2013['Pago(R$)'].apply(tratar_valores)
df_camara_2013['Liquidado(R$)'] = df_camara_2013['Liquidado(R$)'].apply(tratar_valores)
df_camara_2013['Saldo(R$)'] = df_camara_2013['Saldo(R$)'].astype('object')

df_camara_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,1010,7954,31/12/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,13981.19,13981.19,13981.19,0
1,1017,7955,31/12/2013,Marcos Helder,646.603.624-34,9088.08,9088.08,9088.08,0
2,1016,7956,31/12/2013,Marcos Helder,646.603.624-34,4995.17,4995.17,4995.17,0
3,1009,7957,31/12/2013,Marcos Helder,646.603.624-34,5270.00,5270.00,5270.00,0
4,1007,7959,31/12/2013,Marcos Helder,646.603.624-34,7238.17,7238.17,7238.17,0
5,1006,7960,31/12/2013,Marcos Helder,646.603.624-34,7350.00,7350.00,7350.00,0
6,1005,7961,31/12/2013,Marcos Helder,646.603.624-34,243.5,243.5,243.5,0
7,1001,7962,31/12/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,141078.06,141078.06,141078.06,0
8,1014,7963,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,17247.30,17247.30,17247.30,0
9,1019,7964,29/11/2013,Marcos Helder,646.603.624-34,22388.60,22388.60,22388.60,0
10,1017,7965,29/11/2013,Marcos Helder,646.603.624-34,50921.59,50921.59,50921.59,0
11,1016,7966,29/11/2013,Marcos Helder,646.603.624-34,296153.06,296153.06,296153.06,0
12,1007,7967,29/11/2013,Marcos Helder,646.603.624-34,61909.23,61909.23,61909.23,0
13,1006,7968,29/11/2013,Marcos Helder,646.603.624-34,104250.00,104250.00,104250.00,0
14,1015,7969,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,14320.00,14320.00,14320.00,0
15,1013,7970,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,3121.43,3121.43,3121.43,0
16,1010,7971,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,104261.26,104261.26,104261.26,0
17,1009,7972,29/11/2013,Marcos Helder,646.603.624-34,114092.00,114092.00,114092.00,0
18,1005,7973,29/11/2013,Marcos Helder,646.603.624-34,3166.50,3166.50,3166.50,0
19,1001,7974,29/11/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,1665180.17,1665180.17,1665180.17,0

## Salvando dados tratados

In [16]:
df_assistencia_social_2013.to_csv('03_dados_tratados/dados_assistencia_social_tratados_2013.csv', index=False, sep=';')
df_fundo_municipal_saude_2013.to_csv('03_dados_tratados/dados_fundo_municipal_saude_tratados_2013.csv', index=False, sep=';')
df_prefeitura_2013.to_csv('03_dados_tratados/dados_prefeitura_2013_tratados_2013.csv', index=False, sep=';')
df_previdencia_2013.to_csv('03_dados_tratados/dados_previdencia_2013_tratados_2013.csv', index=False, sep=';')
df_sctrans_2013.to_csv('03_dados_tratados/dados_sctrans_2013_tratados_2013.csv', index=False, sep=';')
df_camara_2013.to_csv('03_dados_tratados/dados_camara_2013_tratados_2013.csv', index=False, sep=';')

## Analisando dados contidos nos dataframes

### Assistência e previdência social

In [17]:
df_dados_previdencia_assistencia_social_2013 = pd.merge(df_assistencia_social_2013, df_previdencia_2013, how='outer')
df_dados_previdencia_assistencia_social_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,869,1,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
1,869,2,15/01/2013,MARIA DE FÁTIMA PEREIRA DE SOUZA,03.708.204/0001-70,0,0,0,0
2,871,3,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,168.06,168.06,168.06,0
3,868,4,15/01/2013,JOSEFA LÉA DA SILVA SANTOS,140.984.074-34,1000.00,1000.00,1000.00,0
4,871,5,15/01/2013,CAGEPA COMP DE AGUA E ESGOTO DA PARAIBA,09.123.654/0001-87,91.36,91.36,91.36,0
...,...,...,...,...,...,...,...,...,...
1410,8,287,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
1411,8,288,30/12/2013,WANDERSON BANDEIRA DE SOUZA,022.155.044-55,500,500,500,0
1412,8,289,30/12/2013,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
1413,7,290,30/12/2013,SALARIO FAMILIA-CAMARA (BPT),08.841.553/0001-89,420.48,420.48,420.48,0
1414,11,291,30/12/2013,BANCO SANTANDER,11.180.607/0001-17,29,29,29,0

### Fundo Municipal de Saúde e Prefeitura Municipal

In [18]:
df_dados_prefeitura_fundo_saude_2013 = pd.merge(df_prefeitura_2013, df_fundo_municipal_saude_2013, how='outer')
df_dados_prefeitura_fundo_saude_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,42,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0
1,38,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0
2,43,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0
3,43,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0
4,43,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0
...,...,...,...,...,...,...,...,...,...
5880,581,2647,31/12/2013,CAGEPA,09.123.654/0001-87,253.79,253.79,0,253.79
5881,581,2648,31/12/2013,CAGEPA,09.123.654/0001-87,168.06,168.06,0,168.06
5882,581,2649,31/12/2013,CAGEPA,09.123.654/0001-87,90.28,90.28,0,90.28
5883,601,2650,31/12/2013,Fundo Municipal de Saúde,11.902.878/0001-39,171061.22,171061.22,0,171061.22
5884,581,2653,31/12/2013,ENERGISA,09.095.183/0001-40,11198.09,11198.09,0,11198.09

In [19]:
df_dados_previdencia_assistencia_social_2013.to_csv('04_analise_tratamento_carga/dados_previdencia_assistencia_social_2013.csv', index=False, sep=';')
df_dados_prefeitura_fundo_saude_2013.to_csv('04_analise_tratamento_carga/dados_prefeitura_fundo_saude_2013.csv', index=False, sep=';')

## Juntando todos os dados tratados em um único documento

In [20]:
df_dados_prefeitura_fundo_saude_2013['Tipo'] = 1
df_dados_previdencia_assistencia_social_2013['Tipo'] = 2
df_sctrans_2013['Tipo'] = 3
df_camara_2013['Tipo'] = 4

In [23]:
df_dados_acumulados_2013 = pd.merge(df_dados_prefeitura_fundo_saude_2013, df_dados_previdencia_assistencia_social_2013, how='outer')
df_dados_acumulados_2013 = pd.merge(df_dados_acumulados_2013, df_sctrans_2013, how='outer')
df_dados_acumulados_2013 = pd.merge(df_dados_acumulados_2013, df_camara_2013, how='outer')
df_dados_acumulados_2013

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,42,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0,1
1,38,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0,1
2,43,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0,1
3,43,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0,1
4,43,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0,1
...,...,...,...,...,...,...,...,...,...,...
7624,1013,7970,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,3121.43,3121.43,3121.43,0,4
7625,1010,7971,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,104261.26,104261.26,104261.26,0,4
7626,1009,7972,29/11/2013,Marcos Helder,646.603.624-34,114092.00,114092.00,114092.00,0,4
7627,1005,7973,29/11/2013,Marcos Helder,646.603.624-34,3166.50,3166.50,3166.50,0,4
7628,1001,7974,29/11/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,1665180.17,1665180.17,1665180.17,0,4

In [24]:
df_dados_acumulados_2013.drop('Despesa',axis=1, inplace=True)
df_dados_acumulados_2013

,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0,1
1,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0,1
2,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0,1
3,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0,1
4,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0,1
...,...,...,...,...,...,...,...,...,...
7624,7970,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,3121.43,3121.43,3121.43,0,4
7625,7971,29/11/2013,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,104261.26,104261.26,104261.26,0,4
7626,7972,29/11/2013,Marcos Helder,646.603.624-34,114092.00,114092.00,114092.00,0,4
7627,7973,29/11/2013,Marcos Helder,646.603.624-34,3166.50,3166.50,3166.50,0,4
7628,7974,29/11/2013,Câmara Municipal de Cajazeiras,08.841.553/0001-89,1665180.17,1665180.17,1665180.17,0,4

In [25]:
df_dados_acumulados_2013.to_csv('04_analise_tratamento_carga/dados_acumulados_2013.csv', index=False, sep=';')