# Import e tratamento dos dados

## Import de dados

In [1]:
import pandas as pd
import chardet

In [2]:
with open("02_dados_pre_tratados/dados_camara_2017.csv", "rb") as f:
    result = chardet.detect(f.read())

df_camara_2017 = pd.read_csv("02_dados_pre_tratados/dados_camara_2017.csv", sep=";", encoding=result['encoding'])
df_camara_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,3,1,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"8.811,60","8.811,60","8.811,60",0
1,8,2,20/02/2017,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"494.309,56","494.309,56","494.309,56",0
2,11,3,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,487,487,487,0
3,12,4,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"28.350,00","28.350,00","28.350,00",0
4,13,5,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"13.418,30","13.418,30","13.418,30",0
...,...,...,...,...,...,...,...,...,...
59,17,60,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"42.998,45","42.998,45","42.998,45",0
60,21,61,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,360,360,360,0
61,22,62,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"114.188,55","114.188,55","114.188,55",0
62,24,63,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"17.386,62","17.386,62","17.386,62",0
63,79,64,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"4.534,80","4.534,80","4.534,80",0

In [3]:
df_instituto_previdencia_2017 = pd.read_csv("02_dados_pre_tratados/dados_instituto_previdencia_2017.csv", sep=";", encoding=result['encoding'])
df_instituto_previdencia_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,132,1,08/01/2017,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"144,08","144,08","144,08",0
1,130,2,09/01/2017,ENERGISA - SAELPA,09.095.183/0001-40,"425,8","425,8","425,8",0
2,130,3,09/01/2017,ALBERTO JUNIO SARMENTO DE SOUSA,18.069.851/0001-56,220,220,220,0
3,132,4,10/01/2017,TIM CELULAR S.A,04.206.050/0085-99,"727,74","727,74","727,74",0
4,132,5,11/01/2017,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,600,600,600,0
...,...,...,...,...,...,...,...,...,...
410,140,421,28/12/2017,SALARIO FAMILIA-PREFEITURA MUNICIPAL,08.923.971/0001-15,"5.188,69","5.188,69",0,"5.188,69"
411,140,422,28/12/2017,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,"2.076,66","2.076,66",0,"2.076,66"
412,140,423,28/12/2017,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,"372,84","372,84",0,"372,84"
413,123,424,29/12/2017,INSS,29.979.036/0169-00,"3.808,64","3.808,64",0,"3.808,64"
414,123,425,29/12/2017,INSS,29.979.036/0169-00,"4.726,45","4.726,45",0,"4.726,45"

In [4]:
df_prefeitura_2017 = pd.read_csv("02_dados_pre_tratados/dados_prefeitura_2017.csv", sep=";", encoding=result['encoding'])
df_prefeitura_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,902,199,31/01/2017,BANCO DO BRASIL S.A.,00.000.000/0099-03,"2,8","2,8","2,8",0
1,944,209,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"53.855,13","53.855,13","53.855,13",0
2,944,210,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"40.799,98","40.799,98","40.799,98",0
3,969,257,31/01/2017,BANCO DO BRASIL S.A,30.822.936/0001-69,"2,8","2,8","2,8",0
4,983,272,01/02/2017,OLINALDO COELHO DE ALMEIDA,12.113.614/0001-69,700,700,700,0
...,...,...,...,...,...,...,...,...,...
7301,607,7238,27/12/2017,LEIA COM DE LIVROS E MAGAZINE LTDA,11.895.653/0001-00,"775,4","775,4",0,"775,4"
7302,607,7344,27/12/2017,AUTO POSTO CAJAZEIRAS,05.471.862/0001-16,"31.545,91","31.545,91",0,"31.545,91"
7303,607,7345,27/12/2017,AUTO POSTO CAJAZEIRAS,05.471.862/0001-16,"27.448,17","27.448,17",0,"27.448,17"
7304,611,7352,29/12/2017,CICERO MONTEIRO DA SILVA,27.304.601/0001-44,78,78,0,78
7305,607,7355,29/12/2017,JUCELIO COSTA DE ARAUJO E CIA LTDA,04.709.948/0001-71,0,0,0,0

In [5]:
df_sctrans_2017 = pd.read_csv("02_dados_pre_tratados/dados_sctrans_2017.csv", sep=";", encoding=result['encoding'])
df_sctrans_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,70,1,02/01/2017,ADL LINK PROVEDOR DE INTERNET VIA RADIO,05.748.217/0001-06,89,89,89,0
1,70,2,02/01/2017,OI FIXO - TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"176,36","176,36","176,36",0
2,68,3,02/01/2017,ENERGISA,09.095.183/0001-40,"1.687,52","1.687,52","1.687,52",0
3,68,4,02/01/2017,CAGEPA,09.123.654/0001-87,"60,33","60,33","60,33",0
4,67,5,02/01/2017,RAIMUNDO RODRIGUES,048.557.104-82,350,350,350,0
...,...,...,...,...,...,...,...,...,...
452,56,455,29/12/2017,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"4.304,67","4.304,67",0,"4.304,67"
453,66,456,29/12/2017,CLAIR & LEITÃO CONTABILIDADE PUBLICA LTDA - ME,10.571.183/0001-59,"1.000,00","1.000,00",0,"1.000,00"
454,68,457,29/12/2017,AVATY TECNOLOGIA LTDA - ME,09.085.787/0001-06,"6.500,00","6.500,00",0,"6.500,00"
455,68,458,29/12/2017,AVATY TECNOLOGIA LTDA - ME,09.085.787/0001-06,"6.500,00","6.500,00",0,"6.500,00"
456,68,459,29/12/2017,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,"121,5","121,5","121,5",0

## Tratamento dos DataFrames

In [6]:
# Definindo tipos das colunas antes de ler o dataset
columns_types = {'Empenhado(R$)':float,
                'Liquidado(R$)':float,
                'Pago(R$)':float,
                'Saldo(R$)':float}

In [7]:
'''
Função para tratamento dos valores monetários

'''

def tratar_valores(valor):
    
    '''
        Primeiramente, procura-se a localização do ponto, que separava os milhares, e a vírgula que definia os centavos de reais.
    '''
    posicao_virgula = valor.find(',')
    posicao_ponto = valor.find('.') 
    
    '''
        Após o armazenamento das posições de cada separador, armazenava o valor em uma nova string, sem os pontos e vírgulas, 
        e encontrava a nova posição do separador, agora um ponto.
    '''
    string = ''.join(filter(str.isalnum, valor))
    nova_posicao_ponto = posicao_virgula - (len(valor) - len(string))

    '''
        Por fim, após verificar qual condição a nova string se encaixava, retornava-se a nova string com o devido tratamento.
    '''
    if len(string) == len(valor):
        return valor
    
    elif posicao_ponto != -1:        
        string = string[0:nova_posicao_ponto+1] + '.' + string[nova_posicao_ponto+1:]
        return string
    
    else:
        string = string[0:posicao_virgula] + '.' + string[posicao_virgula:]
        return string

### Tratando dados

In [8]:
df_camara_2017['Empenhado(R$)'] = df_camara_2017['Empenhado(R$)'].apply(tratar_valores)
df_camara_2017['Pago(R$)'] = df_camara_2017['Pago(R$)'].apply(tratar_valores)
df_camara_2017['Liquidado(R$)'] = df_camara_2017['Liquidado(R$)'].apply(tratar_valores)
df_camara_2017['Saldo(R$)'] = df_camara_2017['Saldo(R$)'].astype('object')

df_camara_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,3,1,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,8811.60,8811.60,8811.60,0
1,8,2,20/02/2017,Câmara Municipal de Cajazeiras,08.841.553/0001-89,494309.56,494309.56,494309.56,0
2,11,3,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,487,487,487,0
3,12,4,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,28350.00,28350.00,28350.00,0
4,13,5,20/02/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,13418.30,13418.30,13418.30,0
...,...,...,...,...,...,...,...,...,...
59,17,60,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,42998.45,42998.45,42998.45,0
60,21,61,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,360,360,360,0
61,22,62,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,114188.55,114188.55,114188.55,0
62,24,63,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,17386.62,17386.62,17386.62,0
63,79,64,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,4534.80,4534.80,4534.80,0

In [9]:
df_instituto_previdencia_2017['Empenhado(R$)'] = df_instituto_previdencia_2017['Empenhado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2017['Pago(R$)'] = df_instituto_previdencia_2017['Pago(R$)'].apply(tratar_valores)
df_instituto_previdencia_2017['Liquidado(R$)'] = df_instituto_previdencia_2017['Liquidado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2017['Saldo(R$)'] = df_instituto_previdencia_2017['Saldo(R$)'].apply(tratar_valores)

df_instituto_previdencia_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,132,1,08/01/2017,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,144.08,144.08,144.08,0
1,130,2,09/01/2017,ENERGISA - SAELPA,09.095.183/0001-40,425.8,425.8,425.8,0
2,130,3,09/01/2017,ALBERTO JUNIO SARMENTO DE SOUSA,18.069.851/0001-56,220,220,220,0
3,132,4,10/01/2017,TIM CELULAR S.A,04.206.050/0085-99,727.74,727.74,727.74,0
4,132,5,11/01/2017,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,600,600,600,0
...,...,...,...,...,...,...,...,...,...
410,140,421,28/12/2017,SALARIO FAMILIA-PREFEITURA MUNICIPAL,08.923.971/0001-15,5188.69,5188.69,0,5188.69
411,140,422,28/12/2017,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,2076.66,2076.66,0,2076.66
412,140,423,28/12/2017,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,372.84,372.84,0,372.84
413,123,424,29/12/2017,INSS,29.979.036/0169-00,3808.64,3808.64,0,3808.64
414,123,425,29/12/2017,INSS,29.979.036/0169-00,4726.45,4726.45,0,4726.45

In [10]:
df_prefeitura_2017['Empenhado(R$)'] = df_prefeitura_2017['Empenhado(R$)'].apply(tratar_valores)
df_prefeitura_2017['Pago(R$)'] = df_prefeitura_2017['Pago(R$)'].apply(tratar_valores)
df_prefeitura_2017['Liquidado(R$)'] = df_prefeitura_2017['Liquidado(R$)'].apply(tratar_valores)
df_prefeitura_2017['Saldo(R$)'] = df_prefeitura_2017['Saldo(R$)'].apply(tratar_valores)

df_prefeitura_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,902,199,31/01/2017,BANCO DO BRASIL S.A.,00.000.000/0099-03,2.8,2.8,2.8,0
1,944,209,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,53855.13,53855.13,53855.13,0
2,944,210,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,40799.98,40799.98,40799.98,0
3,969,257,31/01/2017,BANCO DO BRASIL S.A,30.822.936/0001-69,2.8,2.8,2.8,0
4,983,272,01/02/2017,OLINALDO COELHO DE ALMEIDA,12.113.614/0001-69,700,700,700,0
...,...,...,...,...,...,...,...,...,...
7301,607,7238,27/12/2017,LEIA COM DE LIVROS E MAGAZINE LTDA,11.895.653/0001-00,775.4,775.4,0,775.4
7302,607,7344,27/12/2017,AUTO POSTO CAJAZEIRAS,05.471.862/0001-16,31545.91,31545.91,0,31545.91
7303,607,7345,27/12/2017,AUTO POSTO CAJAZEIRAS,05.471.862/0001-16,27448.17,27448.17,0,27448.17
7304,611,7352,29/12/2017,CICERO MONTEIRO DA SILVA,27.304.601/0001-44,78,78,0,78
7305,607,7355,29/12/2017,JUCELIO COSTA DE ARAUJO E CIA LTDA,04.709.948/0001-71,0,0,0,0

In [11]:
df_sctrans_2017['Empenhado(R$)'] = df_sctrans_2017['Empenhado(R$)'].apply(tratar_valores)
df_sctrans_2017['Pago(R$)'] = df_sctrans_2017['Pago(R$)'].apply(tratar_valores)
df_sctrans_2017['Liquidado(R$)'] = df_sctrans_2017['Liquidado(R$)'].apply(tratar_valores)
df_sctrans_2017['Saldo(R$)'] = df_sctrans_2017['Saldo(R$)'].apply(tratar_valores)

df_sctrans_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,70,1,02/01/2017,ADL LINK PROVEDOR DE INTERNET VIA RADIO,05.748.217/0001-06,89,89,89,0
1,70,2,02/01/2017,OI FIXO - TELEMAR NORTE LESTE S/A,33.000.118/0012-21,176.36,176.36,176.36,0
2,68,3,02/01/2017,ENERGISA,09.095.183/0001-40,1687.52,1687.52,1687.52,0
3,68,4,02/01/2017,CAGEPA,09.123.654/0001-87,60.33,60.33,60.33,0
4,67,5,02/01/2017,RAIMUNDO RODRIGUES,048.557.104-82,350,350,350,0
...,...,...,...,...,...,...,...,...,...
452,56,455,29/12/2017,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,4304.67,4304.67,0,4304.67
453,66,456,29/12/2017,CLAIR & LEITÃO CONTABILIDADE PUBLICA LTDA - ME,10.571.183/0001-59,1000.00,1000.00,0,1000.00
454,68,457,29/12/2017,AVATY TECNOLOGIA LTDA - ME,09.085.787/0001-06,6500.00,6500.00,0,6500.00
455,68,458,29/12/2017,AVATY TECNOLOGIA LTDA - ME,09.085.787/0001-06,6500.00,6500.00,0,6500.00
456,68,459,29/12/2017,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,121.5,121.5,121.5,0

## Salvando dados tratados

In [12]:
df_instituto_previdencia_2017.to_csv('03_dados_tratados/dados_instituto_previdencia_2017_tratados.csv', index=False, sep=';')
df_prefeitura_2017.to_csv('03_dados_tratados/dados_prefeitura_2017_tratados.csv', index=False, sep=';')
df_sctrans_2017.to_csv('03_dados_tratados/dados_sctrans_2017_tratados.csv', index=False, sep=';')
df_camara_2017.to_csv('03_dados_tratados/dados_camara_2017_tratados.csv', index=False, sep=';')

## Analisando dados contidos nos dataframes

In [13]:
df_prefeitura_2017['Tipo'] = 1
df_instituto_previdencia_2017['Tipo'] = 2
df_sctrans_2017['Tipo'] = 3
df_camara_2017['Tipo'] = 4

In [14]:
df_dados_acumulados_2017 = pd.merge(df_prefeitura_2017, df_instituto_previdencia_2017, how='outer')
df_dados_acumulados_2017 = pd.merge(df_dados_acumulados_2017, df_sctrans_2017, how='outer')
df_dados_acumulados_2017 = pd.merge(df_dados_acumulados_2017, df_camara_2017, how='outer')
df_dados_acumulados_2017

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,902,199,31/01/2017,BANCO DO BRASIL S.A.,00.000.000/0099-03,2.8,2.8,2.8,0,1
1,944,209,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,53855.13,53855.13,53855.13,0,1
2,944,210,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,40799.98,40799.98,40799.98,0,1
3,969,257,31/01/2017,BANCO DO BRASIL S.A,30.822.936/0001-69,2.8,2.8,2.8,0,1
4,983,272,01/02/2017,OLINALDO COELHO DE ALMEIDA,12.113.614/0001-69,700,700,700,0,1
...,...,...,...,...,...,...,...,...,...,...
8237,17,60,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,42998.45,42998.45,42998.45,0,4
8238,21,61,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,360,360,360,0,4
8239,22,62,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,114188.55,114188.55,114188.55,0,4
8240,24,63,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,17386.62,17386.62,17386.62,0,4
8241,79,64,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,4534.80,4534.80,4534.80,0,4

In [15]:
df_dados_acumulados_2017.drop('Despesa',axis=1, inplace=True)
df_dados_acumulados_2017

,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,199,31/01/2017,BANCO DO BRASIL S.A.,00.000.000/0099-03,2.8,2.8,2.8,0,1
1,209,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,53855.13,53855.13,53855.13,0,1
2,210,31/01/2017,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,40799.98,40799.98,40799.98,0,1
3,257,31/01/2017,BANCO DO BRASIL S.A,30.822.936/0001-69,2.8,2.8,2.8,0,1
4,272,01/02/2017,OLINALDO COELHO DE ALMEIDA,12.113.614/0001-69,700,700,700,0,1
...,...,...,...,...,...,...,...,...,...
8237,60,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,42998.45,42998.45,42998.45,0,4
8238,61,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,360,360,360,0,4
8239,62,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,114188.55,114188.55,114188.55,0,4
8240,63,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,17386.62,17386.62,17386.62,0,4
8241,64,20/12/2017,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,4534.80,4534.80,4534.80,0,4

In [16]:
df_dados_acumulados_2017.to_csv('04_analise_tratamento_carga/dados_acumulados_2017.csv', index=False, sep=';')