# Imports necessários

In [3]:
import pandas as pd
import os

In [19]:
# Definir uma variável global para armazenar as informações lidas do arquivo
linhas = []

# Definir uma variável de ambiente para armazenar a localização do arquivo
os.environ['PATHS'] = '.env'

# Função para ler as informações do arquivo e adicioná-las à variável global
def ler_arquivo():
    global linhas
    with open(os.environ.get('PATHS'), 'r') as f:
        linhas = [linha.strip().split(',') for linha in f.readlines()]

# Chamar a função para ler o arquivo e atualizar a variável global
ler_arquivo()

# Imprimir a variável global
print(linhas[1][0])

C:/Repos/estudos/TCC2/dados/02_despesas/dados_para_carga/dados_tempo.csv

In [24]:
df_tempo_2013_2020 = pd.read_csv(linhas[0][0], sep=';')
df_tempo_2021_2022 = pd.read_csv(linhas[1][0], sep=';')

In [50]:
series_meses_ano = df_tempo_2013_2020['MES'].drop_duplicates().reset_index(drop=True)
df_meses_ano = series_meses_ano.to_frame()
df_meses_ano

          MES
0     janeiro
1   fevereiro
2       março
3       abril
4        maio
5       junho
6       julho
7      agosto
8    setembro
9     outubro
10   novembro
11   dezembro

In [51]:
series_trimestre_ano = df_tempo_2013_2020['TRIMESTRE'].drop_duplicates().reset_index(drop=True)
df_trimestre_ano = series_trimestre_ano.to_frame()
df_trimestre_ano

            TRIMESTRE
0  primeiro trimestre
1   segundo trimestre
2  terceiro trimestre
3    quarto trimestre

In [52]:
series_semestre_ano = df_tempo_2013_2020['SEMESTRE'].drop_duplicates().reset_index(drop=True)
df_semestre_ano = series_semestre_ano.to_frame()
df_semestre_ano

            SEMESTRE
0  primeiro semestre
1   segundo semestre

In [28]:
def merge_dataframes(df1, df2, data_column, list_columns):
    # Concatenação dos dataframes
    merged_df = pd.concat([df1, df2])

    # Escolhendo as colunas que irão permanecer no df
    merged_df = merged_df[list_columns]
        
    # Remover duplicatas na coluna "DATA"
    merged_df.drop_duplicates(subset=data_column, inplace=True)
    
    return merged_df

In [39]:
colunas = ['DATA','ANO','MES','DIA','COD_TRIMESTRE','COD_SEMESTRE']
df_tempo_meger = merge_dataframes(df_tempo_2013_2020, df_tempo_2021_2022, 'DATA', colunas)
df_tempo_meger

            DATA   ANO        MES  DIA  COD_TRIMESTRE  COD_SEMESTRE
0     2013-01-03  2013    janeiro    3              1             1
1     2013-01-04  2013    janeiro    4              1             1
2     2013-01-07  2013    janeiro    7              1             1
3     2013-01-08  2013    janeiro    8              1             1
4     2013-01-15  2013    janeiro   15              1             1
...          ...   ...        ...  ...            ...           ...
2197  2021-06-03  2021      junho    3              2             1
2228  2021-04-21  2021      abril   21              2             1
2272  2021-02-16  2021  fevereiro   16              1             1
2347  2022-10-15  2022    outubro   15              4             2
2545  2022-01-22  2022    janeiro   22              1             1

[2659 rows x 6 columns]

In [40]:
meses_do_ano = {'janeiro': 1,
               'fevereiro':  2,
               'marco':  3,
               'abril':  4,
               'maio':  5,
               'junho':  6,
               'julho':  7,
               'agosto':  8,
               'setembro':  9,
                'outubro': 10,
                'novembro': 11,
                'dezembro': 12}

In [44]:
df_tempo_meger['MES'].replace(meses_do_ano, inplace=True)

In [45]:
def save_dataframe(df, filename):
    # Verifica se o diretório existe e cria caso não exista
    diretorio = './arquivos_para_carga'
    if not os.path.exists(diretorio):
        os.makedirs(diretorio)
    
    # Salva o dataframe em um arquivo csv no diretório criado
    filepath = f'./{diretorio}/{filename}.csv'
    df.to_csv(filepath, index=False, sep=';')

In [53]:
save_dataframe(df_tempo_meger,'dados_tempo_tratados')
save_dataframe(df_meses_ano,'dados_tab_aux_meses')
save_dataframe(df_trimestre_ano,'dados_tab_aux_trimestre')
save_dataframe(df_semestre_ano,'dados_tab_aux_semestre')

In [55]:
list_dados = ['prefeitura municipal', 'instituto de previdencia e assitencia social', 'sctrans', 'camara municipal']
df_fonte_dados = pd.DataFrame(list_dados, columns=['FONTE_DADOS'])
save_dataframe(df_fonte_dados,'dados_tab_aux_fonte_dados')