# Imports necessários

In [1]:
import pandas as pd
import os

In [2]:
# Definir uma variável global para armazenar as informações lidas do arquivo
linhas = []

# Definir uma variável de ambiente para armazenar a localização do arquivo
os.environ['PATHS'] = '.env'

# Função para ler as informações do arquivo e adicioná-las à variável global
def ler_arquivo():
    global linhas
    with open(os.environ.get('PATHS'), 'r') as f:
        linhas = [linha.strip().split(',') for linha in f.readlines()]

# Chamar a função para ler o arquivo e atualizar a variável global
ler_arquivo()

# Imprimir a variável global
print(linhas[1][0])

C:/Users/allys/Dados_TCC/dw_contas_publicas_2022/TCC2/dados/02_despesas/dados_para_carga/dados_tempo.csv

In [3]:
df_tempo_2013_2020 = pd.read_csv(linhas[0][0], sep=';')
df_tempo_2021_2022 = pd.read_csv(linhas[1][0], sep=';')

In [4]:
series_meses_ano = df_tempo_2013_2020['MES'].drop_duplicates().reset_index(drop=True)
df_meses_ano = series_meses_ano.to_frame()
df_meses_ano

          MES
0     janeiro
1   fevereiro
2       março
3       abril
4        maio
5       junho
6       julho
7      agosto
8    setembro
9     outubro
10   novembro
11   dezembro

In [5]:
series_trimestre_ano = df_tempo_2013_2020['TRIMESTRE'].drop_duplicates().reset_index(drop=True)
df_trimestre_ano = series_trimestre_ano.to_frame()
df_trimestre_ano

            TRIMESTRE
0  primeiro trimestre
1   segundo trimestre
2  terceiro trimestre
3    quarto trimestre

In [6]:
series_semestre_ano = df_tempo_2013_2020['SEMESTRE'].drop_duplicates().reset_index(drop=True)
df_semestre_ano = series_semestre_ano.to_frame()
df_semestre_ano

            SEMESTRE
0  primeiro semestre
1   segundo semestre

In [7]:
def merge_dataframes(df1, df2, data_column, list_columns):
    # Concatenação dos dataframes
    merged_df = pd.concat([df1, df2])

    # Escolhendo as colunas que irão permanecer no df
    merged_df = merged_df[list_columns]
        
    # Remover duplicatas na coluna "DATA"
    merged_df.drop_duplicates(subset=data_column, inplace=True)
    
    return merged_df

In [8]:
colunas = ['DATA','ANO','MES','DIA','TRIMESTRE','COD_TRIMESTRE','SEMESTRE','COD_SEMESTRE']
df_tempo_meger = merge_dataframes(df_tempo_2013_2020, df_tempo_2021_2022, 'DATA', colunas)
df_tempo_meger

,DATA,ANO,MES,DIA,TRIMESTRE,COD_TRIMESTRE,SEMESTRE,COD_SEMESTRE
0,2013-01-03,2013.0,janeiro,3.0,primeiro trimestre,1.0,primeiro semestre,1.0
1,2013-01-04,2013.0,janeiro,4.0,primeiro trimestre,1.0,primeiro semestre,1.0
2,2013-01-07,2013.0,janeiro,7.0,primeiro trimestre,1.0,primeiro semestre,1.0
3,2013-01-08,2013.0,janeiro,8.0,primeiro trimestre,1.0,primeiro semestre,1.0
4,2013-01-15,2013.0,janeiro,15.0,primeiro trimestre,1.0,primeiro semestre,1.0
...,...,...,...,...,...,...,...,...
2591,2022-01-06,2022.0,janeiro,6.0,primeiro trimestre,1.0,primeiro semestre,1.0
2592,2022-01-05,2022.0,janeiro,5.0,primeiro trimestre,1.0,primeiro semestre,1.0
2593,2022-01-04,2022.0,janeiro,4.0,primeiro trimestre,1.0,primeiro semestre,1.0
2594,2022-01-03,2022.0,janeiro,3.0,primeiro trimestre,1.0,primeiro semestre,1.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
meses_do_ano = {'janeiro': 1,
               'fevereiro':  2,
               'marco':  3,
               'abril':  4,
               'maio':  5,
               'junho':  6,
               'julho':  7,
               'agosto':  8,
               'setembro':  9,
                'outubro': 10,
                'novembro': 11,
                'dezembro': 12}

In [10]:
def save_dataframe(df, filename):
    # Verifica se o diretório existe e cria caso não exista
    diretorio = './arquivos_para_carga/dados_receita'
    if not os.path.exists(diretorio):
        os.makedirs(diretorio)
    
    # Salva o dataframe em um arquivo csv no diretório criado
    filepath = f'./{diretorio}/{filename}.csv'
    df.to_csv(filepath, index=False, sep=';')

In [11]:
save_dataframe(df_tempo_meger,'dados_tempo_tratados')
save_dataframe(df_meses_ano,'dados_tab_aux_meses')
save_dataframe(df_trimestre_ano,'dados_tab_aux_trimestre')
save_dataframe(df_semestre_ano,'dados_tab_aux_semestre')