# Imports necessários

In [1]:
import pandas as pd

# Import dos dados

## Dados das classes das despesas

In [2]:
df_classes_2013_2020 = pd.read_csv('../02_despesas/dados_para_carga/dados_despesas_tratados_2013_2020.csv', sep=';')
df_classes_2013_2020.head(1)

,ORGAO_INTERNO,ORGAO_VINCULADO,COD_FUNCAO,FUNCAO,COD_SUBFUNCAO,SUBFUNCAO,COD_PROGRAMA_GOVERNO,PROGRAMA_GOVERNO,COD_ACAO_GOVERNO,ACAO_GOVERNO,COD_CAT_ECONOMICA,CAT_ECONOMICA,COD_NATUREZA,NATUREZA,COD_APLICACAO,APLICACAO,COD_ELEMENTO,ELEMENTO
0,secretaria municipal de infra estrutura,prefeitura municipal,12,educacao,361,ensino fundamental,1003,educa mais e do jeito certo,2021,manutencao das atividades do ensino fundamenta...,3,despesas correntes,1,pessoal e encargos sociais,90,aplicacoes diretas,4,contratacao por tempo determinado

In [3]:
df_classes_2021_2022 = pd.read_csv('../02_despesas/dados_para_carga/dados_despesas_tratados_2021_2022.csv', sep=';')
df_classes_2021_2022.head(1)

,ORGAO_INTERNO,ORGAO_VINCULADO,COD_TIPO,TIPO,COD_SUBELEMENTO,SUBELEMENTO
0,camara municipal,camara municipal,319011,vencimentos e vantagens fixas - pessoal civil,9775,subsidios - agentes politicos - vinculado ao inss

## Análise exploratória dos dados

In [4]:
df_classes_2013_2020.dtypes

ORGAO_INTERNO           object
ORGAO_VINCULADO         object
COD_FUNCAO               int64
FUNCAO                  object
COD_SUBFUNCAO            int64
SUBFUNCAO               object
COD_PROGRAMA_GOVERNO     int64
PROGRAMA_GOVERNO        object
COD_ACAO_GOVERNO         int64
ACAO_GOVERNO            object
COD_CAT_ECONOMICA        int64
CAT_ECONOMICA           object
COD_NATUREZA             int64
NATUREZA                object
COD_APLICACAO            int64
APLICACAO               object
COD_ELEMENTO             int64
ELEMENTO                object
dtype: object

In [5]:
df_classes_2021_2022.dtypes

ORGAO_INTERNO      object
ORGAO_VINCULADO    object
COD_TIPO            int64
TIPO               object
COD_SUBELEMENTO     int64
SUBELEMENTO        object
dtype: object

In [6]:
df_classes_2013_2020 = df_classes_2013_2020[['ORGAO_INTERNO','ORGAO_VINCULADO','COD_FUNCAO','FUNCAO','COD_SUBFUNCAO','SUBFUNCAO','COD_PROGRAMA_GOVERNO','PROGRAMA_GOVERNO','COD_ACAO_GOVERNO','ACAO_GOVERNO','COD_CAT_ECONOMICA','CAT_ECONOMICA','COD_NATUREZA','NATUREZA','COD_APLICACAO','APLICACAO','COD_ELEMENTO','ELEMENTO']]
colunas_float = df_classes_2013_2020.select_dtypes(include=['float64']).columns
df_classes_2013_2020[colunas_float] = df_classes_2013_2020[colunas_float].astype(int)
df_classes_2013_2020.head(1)

,ORGAO_INTERNO,ORGAO_VINCULADO,COD_FUNCAO,FUNCAO,COD_SUBFUNCAO,SUBFUNCAO,COD_PROGRAMA_GOVERNO,PROGRAMA_GOVERNO,COD_ACAO_GOVERNO,ACAO_GOVERNO,COD_CAT_ECONOMICA,CAT_ECONOMICA,COD_NATUREZA,NATUREZA,COD_APLICACAO,APLICACAO,COD_ELEMENTO,ELEMENTO
0,secretaria municipal de infra estrutura,prefeitura municipal,12,educacao,361,ensino fundamental,1003,educa mais e do jeito certo,2021,manutencao das atividades do ensino fundamenta...,3,despesas correntes,1,pessoal e encargos sociais,90,aplicacoes diretas,4,contratacao por tempo determinado

In [7]:
df_classes_2021_2022.isna().value_counts()

ORGAO_INTERNO  ORGAO_VINCULADO  COD_TIPO  TIPO   COD_SUBELEMENTO  SUBELEMENTO
False          False            False     False  False            False          19582
dtype: int64

In [8]:
df_classes_2021_2022 = df_classes_2021_2022[['ORGAO_INTERNO','ORGAO_VINCULADO','COD_TIPO','TIPO','COD_SUBELEMENTO','SUBELEMENTO']]
df_classes_2021_2022 = df_classes_2021_2022.dropna()
colunas_float = df_classes_2021_2022.select_dtypes(include=['float64']).columns
df_classes_2021_2022[colunas_float] = df_classes_2021_2022[colunas_float].astype(int)
df_classes_2021_2022.head(1)

,ORGAO_INTERNO,ORGAO_VINCULADO,COD_TIPO,TIPO,COD_SUBELEMENTO,SUBELEMENTO
0,camara municipal,camara municipal,319011,vencimentos e vantagens fixas - pessoal civil,9775,subsidios - agentes politicos - vinculado ao inss

# Salvando df

In [9]:
df_classes_2013_2020.to_csv('../02_despesas/dados_para_carga/dados_despesas_tratados_2013_2020.csv', index=False, sep=';')
df_classes_2021_2022.to_csv('../02_despesas/dados_para_carga/dados_despesas_tratados_2021_2022.csv', index=False, sep=';')

# Separando por funções e criando os objetos para carga

## Separando os orgãos

In [10]:
df_orgao_interno = pd.concat([df_classes_2013_2020['ORGAO_INTERNO'],df_classes_2021_2022['ORGAO_INTERNO']])
df_orgao_interno.drop_duplicates(inplace=True)
df_orgao_interno

0                  secretaria municipal de infra estrutura
1                         secretaria municipal de educacao
8                    secretaria municipal de administracao
11       secretaria municipal de desenvolvimento rural ...
13            secretaria de governo e articulacao politica
15                 secretaria municipal da fazenda publica
23                    secretaria municipal de planejamento
37              secretaria municipal de politicas publicas
96       secretaria municipal de juventude esporte turi...
99                         procuradoria geral do municipio
303      secretaria municipal do orcamento controle int...
635                               fundo municipal de saude
3660                 fundo municipal de assistencia social
6091             superintendencia cajazeirense de transito
6164     instituto de previdencia e assistencia municip...
7990                         secretaria municipal de saude
8058     secretaria municipal de cidadania e promocao s...
25315       secretaria municipal de desenvolvimento humano
25334              Secretaria Municipal de Controle Social
41800            secretaria municipal de cultura e turismo
41957    secretaria municipal de politicas publicas par...
50768    secretaria muncipal de juventude esporte turis...
0                                         camara municipal
10129                  secretaria municipal de comunicacao
Name: ORGAO_INTERNO, dtype: object

In [11]:
df_orgao_interno.to_csv('arquivos_para_carga/dados_orgao_interno.csv', sep=';',index=False)

In [12]:
df_orgao_vinculado = pd.concat([df_classes_2013_2020['ORGAO_VINCULADO'],df_classes_2021_2022['ORGAO_VINCULADO']])
df_orgao_vinculado.drop_duplicates(inplace=True)
df_orgao_vinculado

0                                    prefeitura municipal
635                              fundo municipal de saude
3660                fundo municipal de assistencia social
6091            superintendencia cajazeirense de transito
6164    instituto de previdencia e assistencia municip...
0                                        camara municipal
Name: ORGAO_VINCULADO, dtype: object

In [13]:
df_orgao_vinculado.to_csv('arquivos_para_carga/dados_orgao_vinculado.csv', sep=';',index=False)

## Seprando por funções e subfunções

In [14]:
df_funcao = df_classes_2013_2020[['COD_FUNCAO','FUNCAO']].copy()
df_funcao.drop_duplicates(inplace=True)
df_funcao

     COD_FUNCAO                 FUNCAO
0            12               educacao
3            10                  saude
13            4          administracao
24           15              urbanismo
33           20            agricultura
42            8     assistencia social
44           26             transporte
45           13                cultura
46           14  direitos da cidadania
49           27       desporto e lazer
101          28     encargos especiais
430          23    comercio e servicos

In [15]:
df_funcao.to_csv('arquivos_para_carga/dados_funcao.csv', sep=';',index=False)

In [16]:
df_subfuncao = df_classes_2013_2020[['COD_SUBFUNCAO','SUBFUNCAO']].copy()
df_subfuncao.drop_duplicates(inplace=True)
df_subfuncao

      COD_SUBFUNCAO                                 SUBFUNCAO
0               361                        ensino fundamental
3               302     assistencia hospitalar e ambulatorial
5               301                            atencao basica
8               305                 vigilancia epidemiologica
13              122                       administracao geral
16              123                  administracao financeira
18              124                          controle interno
20              368                           educacao basica
23              365                         educacao infantil
33              608         promocao da producao agropecuaria
42              244                   assistencia comunitaria
45              392                          difusao cultural
46              422    direitos individuais, colet. e difusos
49              812                      desporto comunitario
63              243    assistencia a crianca a ao adolescente
86              782                     transporte rodoviario
101             272         previdencia do regime estatutario
157              62  def. interesse publ. no proc. judiciario
213             843                 servico da divida interna
214             452                          servicos urbanos
356             367                         educacao especial
430             695                                   turismo
976             845                            transferencias
2375            451                    infra-estrutura urbana
6674            362                              ensino medio

In [17]:
df_subfuncao.to_csv('arquivos_para_carga/dados_subfuncao.csv', sep=';',index=False)

## Separando por Ação do Governo ou Subelemento

In [18]:
df_temp = df_classes_2013_2020[['COD_ACAO_GOVERNO','ACAO_GOVERNO']].copy()
df_temp.rename(columns={'COD_ACAO_GOVERNO':'COD_SUBELEMENTO','ACAO_GOVERNO':'SUBELEMENTO'}, inplace=True)

In [19]:
df_subelemento = pd.concat([df_temp,df_classes_2021_2022[['COD_SUBELEMENTO','SUBELEMENTO']]])
df_subelemento.drop_duplicates(inplace=True)
df_subelemento

       COD_SUBELEMENTO                                        SUBELEMENTO
0                 2021  manutencao das atividades do ensino fundamenta...
3                 2064  custeio das acoes e servicos publicos de saude...
5                 2059  custeio das acoes e servicos publicos de saude...
7                 2047        manutencao da secretaria municipal de saude
8                 2062  custeio das acoes e servicos publicos de saude...
...                ...                                                ...
13929             9921  aliquota suplementar de contribuicao previdenc...
15069             9900  premiacoes culturais, artisticas, cientificas,...
18022             9930                                material de consumo
18096             8536       outros servicos de terceiros - pessoa fisica
18835             3199                        fornecimento de alimentacao

[259 rows x 2 columns]

In [20]:
df_subelemento.to_csv('arquivos_para_carga/dados_subelemento.csv', sep=';',index=False)

## Separando por Categoria Economica

In [21]:
df_cat_economica = df_classes_2013_2020[['COD_CAT_ECONOMICA','CAT_ECONOMICA']].copy()
df_cat_economica.drop_duplicates(inplace=True)
df_cat_economica

     COD_CAT_ECONOMICA        CAT_ECONOMICA
0                    3   despesas correntes
156                  4  despesas de capital

In [22]:
df_cat_economica.to_csv('arquivos_para_carga/dados_cat_economica.csv', sep=';',index=False)

## Separando por Natureza

In [23]:
df_natureza = df_classes_2013_2020[['COD_NATUREZA','NATUREZA']].copy()
df_natureza.drop_duplicates(inplace=True)
df_natureza

     COD_NATUREZA                    NATUREZA
0               1  pessoal e encargos sociais
70              3   outras despesas correntes
156             4               investimentos
157             6       amortizacao da divida

In [24]:
df_natureza.to_csv('arquivos_para_carga/dados_natureza.csv', sep=';',index=False)

## Separando por Aplicação

In [25]:
df_aplicacao = df_classes_2013_2020[['COD_APLICACAO','APLICACAO']].copy()
df_aplicacao.drop_duplicates(inplace=True)
df_aplicacao

     COD_APLICACAO                                          APLICACAO
0               90                                 aplicacoes diretas
67              91  aplicacao direta decorrente de operacao entre ...
174             50  transferencias a instituicoes privadas sem fin...
698             71               transferencias a consorcios publicos
862             91                                 aplicacoes diretas

In [26]:
df_aplicacao.to_csv('arquivos_para_carga/dados_aplicacao.csv', sep=';',index=False)

## Separando por Tipo ou Elemento

In [27]:
df_temp = df_classes_2021_2022[['COD_TIPO','TIPO']].copy()
df_temp.rename(columns={'COD_TIPO':'COD_ELEMENTO','TIPO':'ELEMENTO'}, inplace=True)

In [28]:
df_elemento = pd.concat([df_temp,df_classes_2013_2020[['COD_ELEMENTO','ELEMENTO']]])
df_elemento.drop_duplicates(inplace=True)
df_elemento

       COD_ELEMENTO                                           ELEMENTO
0            319011      vencimentos e vantagens fixas - pessoal civil
5            339039     outros servicos de terceiros - pessoa juridica
6            449052                 equipamentos e material permanente
9            339040  servicos de tecnologia da informacao e comunic...
10           339030                                material de consumo
...             ...                                                ...
1364             92                  despesas de exercicios anteriores
4125             43                                 subvencoes sociais
15945             5                  outros beneficios previdenciarios
16117            61                               aquisicao de imoveis
16169            33                 passagens e despesas com locomocao

[65 rows x 2 columns]

In [29]:
df_elemento.to_csv('arquivos_para_carga/dados_elemento.csv', sep=';',index=False)

# Proximo