# Imports necessários

In [246]:
import string
import pandas as pd
from unidecode import unidecode
from fuzzywuzzy import fuzz
import re
from random import randint
import requests
import numpy as np
import os
import csv
import uuid

# Caminho para import dos dados

In [247]:
# Definir uma variável global para armazenar as informações lidas do arquivo
linhas = []

# Definir uma variável de ambiente para armazenar a localização do arquivo
os.environ['PATHS'] = 'despesas.env'

# Função para ler as informações do arquivo e adicioná-las à variável global
def ler_arquivo():
    global linhas
    with open(os.environ.get('PATHS'), 'r') as f:
        linhas = [linha.strip().split(',') for linha in f.readlines()]

# Chamar a função para ler o arquivo e atualizar a variável global
ler_arquivo()

# Imprimir a variável global
print(linhas)

[['C:/Repos/estudos/TCC2/dados/02_despesas/2013/04_analise_tratamento_carga/dados_acumulados_2013.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2014/04_analise_tratamento_carga/dados_acumulados_2014.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2015/04_analise_tratamento_carga/dados_acumulados_2015.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2016/04_analise_tratamento_carga/dados_acumulados_2016.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2017/04_analise_tratamento_carga/dados_acumulados_2017.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2018/04_analise_tratamento_carga/dados_acumulados_2018.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2019/04_analise_tratamento_carga/dados_acumulados_2019.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2020/04_analise_tratamento_carga/dados_acumulados_2020.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2021/04_analise_tratamento_carga/dados_acumulados_2021.csv'], ['C:/Repos/estudos/TCC2/dados/02_despesas/2022/04_analise_tratamento_carga/dados_acumulados_2022.csv']]

## Definindo parâmetros para salvar o arquivo .csv

In [248]:
# definir parâmetros do arquivo CSV
csv_kwargs = {'index': False,
              'sep': ';',
              'quoting': csv.QUOTE_NONE,
              'quotechar': '"'}

## Função para salvar df

In [249]:
def save_dataframe(df, filename):
    # Verifica se o diretório existe e cria caso não exista
    diretorio = './arquivos_para_carga'
    if not os.path.exists(diretorio):
        os.makedirs(diretorio)
    
    # Salva o dataframe em um arquivo csv no diretório criado
    filepath = f'./{diretorio}/{filename}.csv'
    df.to_csv(filepath, index=False, sep=';')

# Despesas

## Importando dados

### Lista com os df

In [250]:
list_data_frames = []

def inserir_df(df):
    list_data_frames.append(df)

In [251]:
df_despesas_2013 = pd.read_csv(linhas[0][0], sep=';')
inserir_df(df_despesas_2013)

df_despesas_2014 = pd.read_csv(linhas[1][0], sep=';')
inserir_df(df_despesas_2014)

df_despesas_2015 = pd.read_csv(linhas[2][0], sep=';')
inserir_df(df_despesas_2015)

df_despesas_2016 = pd.read_csv(linhas[3][0], sep=';')
inserir_df(df_despesas_2016)

df_despesas_2017 = pd.read_csv(linhas[4][0], sep=';')
inserir_df(df_despesas_2017)

df_despesas_2018 = pd.read_csv(linhas[5][0], sep=';')
inserir_df(df_despesas_2018)

df_despesas_2019 = pd.read_csv(linhas[6][0], sep=';')
inserir_df(df_despesas_2019)

df_despesas_2020 = pd.read_csv(linhas[7][0], sep=';')
inserir_df(df_despesas_2020)

df_despesas_2021 = pd.read_csv(linhas[8][0], sep=';')
inserir_df(df_despesas_2021)

df_despesas_2022 = pd.read_csv(linhas[9][0], sep=';')
inserir_df(df_despesas_2022)

### Padronizando os df para junção

In [252]:
dic_renomear_colunas = {'Número':'NUMERO',
                        'Nome':'NOME',
                        'Data':'DATA',
                        'Nome':'CONTRIBUINTE',
                        'Empenhado(R$)':'VALOR',
                        'Liquidado(R$)':'LIQUIDADO',
                        'Pago(R$)': 'PAGO',
                        'Saldo(R$)': 'SALDO',
                        'Tipo':'TIPO',
                        'CODIGO DESPESA': 'COD_DESPESA',
                        'DESPESA':'TIPO_DESPESA',
                        'ORGAO':'CONTRIBUINTE',
                        'DATA INCLUSAO':'DATA_INCLUSAO',
                        'VALOR ARRECADADO':'VALOR',
                        'CODIGO ORGAO':'CODIGO_ORGAO'}

def renomear_colunas(df):
    df.rename(columns=dic_renomear_colunas, inplace=True)
    
for df in list_data_frames:
    renomear_colunas(df)

In [253]:
dados_2020 = ['DATA','CPF/CNPJ','CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','TIPO']
dados_2022 = ['DATA','CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','TIPO']

df_dados_completos_2020 = pd.DataFrame(columns=dados_2020)
df_dados_completos_2022 = pd.DataFrame(columns=dados_2022)

### Merge Dfs

In [254]:
def merge_dataframes(lista_dataframes, colunas_sem_valores):
    
    df_final = colunas_sem_valores.copy() # cria uma cópia do DataFrame das colunas sem valores
    
    for df in lista_dataframes:
        df_final = pd.merge(df_final, df, on=list(df_final.columns), how='outer') # mescla o DataFrame atual com o DataFrame das colunas
        
    return df_final

In [255]:
def remove_espacos_duplos(df):
    # copia o DataFrame original
    df_copy = df.copy()
    # itera sobre as colunas do DataFrame
    for col in df_copy.columns:
        # verifica se a coluna é do tipo 'object' (string)
        if df_copy[col].dtype == 'O':
            # remove espaços duplicados da coluna
            df_copy[col] = df_copy[col].str.replace('\s+', ' ')
    return df_copy

In [256]:
df_dados_completos_2020 = merge_dataframes(list_data_frames[:8],df_dados_completos_2020)
df_dados_completos_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

In [257]:
df_dados_completos_2022 = merge_dataframes(list_data_frames[8:],df_dados_completos_2022)
df_dados_completos_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,31/12/2021,2140,Fundo Municipal de Assistência Social,339039,Outros Serviços de Terceiros - Pessoa Jurídica,12/01/2022,10.45,10.45,10.45,0.0,1
1,31/12/2021,2140,Fundo Municipal de Assistência Social,319004,Contratação por Tempo Determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1
2,31/12/2021,2140,Fundo Municipal de Assistência Social,319004,Contratação por Tempo Determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1
3,31/12/2021,2140,Fundo Municipal de Assistência Social,319011,Vencimentos e Vantagens Fixas - Pessoal Civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1
4,31/12/2021,2160,Secretaria Municipal de Desenvolvimento Humano,319011,Vencimentos e Vantagens Fixas - Pessoal Civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1

### Tratamento valores das colunas - Retirando pontuação e acentuação

In [258]:
def tratar_coluna(df, coluna):
    
    # remove sinais de pontuação e símbolos
    table = str.maketrans('', '', string.punctuation)
    df[coluna] = df[coluna].apply(lambda x: str(x).translate(table))
    
    # remove acentuação gráfica
    df[coluna] = df[coluna].apply(lambda x: unidecode(x))
    
    # converte todos os caracteres para minúsculas
    df[coluna] = df[coluna].str.lower()
    
    return df

In [259]:
df_dados_completos_tratados_2020 = tratar_coluna(df_dados_completos_2020, 'CONTRIBUINTE')
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

In [260]:
df_dados_completos_tratados_2022 = tratar_coluna(df_dados_completos_2022, 'CONTRIBUINTE')
df_dados_completos_tratados_2022 = tratar_coluna(df_dados_completos_2022, 'TIPO_DESPESA')
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1

## Criando coluna do Código único de cada contribuinte

### Padronizando dados da coluna contribuinte dos df de 2013 - 2020

In [261]:
dic_padronizar_valores = {' superintendencia cajazeirense de transito':'superintendencia cajazeirense de transito',
                          'fundo municipal de saude':'fundo municipal de saude',
                          ' fundo municipal de saude':'fundo municipal de saude',
                          ' instituto de previdencia e assistencia municipal de cajazeiras':'instituto de previdencia e assistencia municipal de cajazeiras',
                          ' camara municipal':'camara municipal de cajazeiras',
                          'ipam  instituto de previdencia e assistencia municipal de cajazeiras':'instituto de previdencia e assistencia municipal de cajazeiras',
                          'municipio de cajazeiras fundo municipal de saude  fms':'fundo municipal de saude',
                          'ipam  inst prev assist municipal':'instituto de previdencia e assistencia municipal de cajazeiras'}

In [262]:
def padroniza_contribuintes(df, dicionario, coluna):
    # Cria um novo DataFrame para evitar perda de dados do antigo
    novo_df = df.copy()
    
    # Para cada chave no dicionário, encontra as linhas do DataFrame em que o valor na coluna especificada corresponde à chave
    for chave in dicionario:
        novo_df.loc[novo_df[coluna] == chave, coluna] = dicionario[chave]
        
    return novo_df

In [263]:
df_dados_completos_tratados_2020 = padroniza_contribuintes(df_dados_completos_tratados_2020, dic_padronizar_valores, 'CONTRIBUINTE')
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

In [264]:
df_dados_completos_tratados_2022 = padroniza_contribuintes(df_dados_completos_tratados_2022, dic_padronizar_valores, 'CONTRIBUINTE')
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1

### Limpando a coluna contribuinte e criando a coluna CPF/CNPJ dos df de 2021 - 2022

In [265]:
def extrair_cpf_cnpj(df):
    # Expressão regular para identificar sequências de números com mais de 5 dígitos
    regex = r'\d{6,}'
    
    # Criando um novo dataframe para evitar perdas no original
    new_df = df.copy()
    
    # Verifica se a coluna 'CPF/CNPJ' já existe, caso contrário, cria a coluna
    if 'CPF/CNPJ' not in new_df.columns:
        new_df['CPF/CNPJ'] = ''
    
    # Iteração sobre cada linha do novo dataframe
    for i, row in new_df.iterrows():
        # Busca por padrões numéricos na coluna 'CONTRIBUINTE' usando regex
        matches = re.findall(regex, row['CONTRIBUINTE'])
        
        # Se encontrou algum padrão, assume que é um CPF/CNPJ e extrai a primeira ocorrência
        if matches:
            cpf_cnpj = matches[0]
            
            # Remove a sequência de CPF/CNPJ da coluna 'CONTRIBUINTE'
            contribuintes = row['CONTRIBUINTE'].replace(cpf_cnpj, '')
            new_df.at[i, 'CONTRIBUINTE'] = contribuintes
            
            # Armazena o CPF/CNPJ na coluna 'CPF/CNPJ'
            new_df.at[i, 'CPF/CNPJ'] = formatar_cpf_cnpj(cpf_cnpj)
    
    return new_df

def formatar_cpf_cnpj(cpf_cnpj):
    # Verifica o tamanho da string e formata para o tipo correspondente
    if len(cpf_cnpj) == 11:
        cpf_cnpj_formatado = f'{cpf_cnpj[:3]}.{cpf_cnpj[3:6]}.{cpf_cnpj[6:9]}-{cpf_cnpj[9:]}'
    elif len(cpf_cnpj) == 14:
        cpf_cnpj_formatado = f'{cpf_cnpj[:2]}.{cpf_cnpj[2:5]}.{cpf_cnpj[5:8]}/{cpf_cnpj[8:12]}-{cpf_cnpj[12:]}'
    else:
        # Caso a string não seja do tamanho esperado, mantém o valor original
        cpf_cnpj_formatado = cpf_cnpj

    # Retorna a string formatada
    return cpf_cnpj_formatado

In [266]:
df_dados_completos_tratados_2022 = extrair_cpf_cnpj(df_dados_completos_tratados_2022)
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,

### Preechendo células vazias

In [267]:
def preenche_celulas_vazias(df, column, fill_string):
    # Verifica se a coluna especificada está presente no dataframe
    if column not in df.columns:
        print(f"Coluna {column} não encontrada no dataframe!")
        return df
    
    # Cria uma cópia do dataframe para evitar a perda dos dados originais
    df_novo = df.copy()

    # Preenche células vazias na coluna 'CPF/CNPJ' com a mensagem 'nao ha registro do documento original'
    df_novo[column].fillna(fill_string, inplace=True)

    # Preenche células vazias na coluna 'CPF/CNPJ' com a mensagem 'nao ha registro do documento original'
    df_novo[column].replace('', fill_string, inplace=True)

    return df_novo

In [268]:
df_dados_completos_tratados_2022 = preenche_celulas_vazias(df_dados_completos_tratados_2022,'CPF/CNPJ','sem informacao')
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,sem informacao
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,sem informacao
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,sem informacao
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,sem informacao
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,sem informacao

In [269]:
df_dados_completos_tratados_2020 = preenche_celulas_vazias(df_dados_completos_tratados_2020,'CPF/CNPJ','sem informacao')
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

### Criação da coluna única do código

In [270]:
def df_to_dict(df, coluna_chave, coluna_valor,coluna_agrupadora):
    """
    Converte duas colunas de um DataFrame em um dicionário.

    Args:
        df (pandas.DataFrame): DataFrame contendo as colunas a serem convertidas.
        coluna_chave (str): Nome da coluna a ser usada como chave do dicionário.
        coluna_valor (str): Nome da coluna a ser usada como valor do dicionário.
        coluna_agrupadora (str): Nome da coluna a ser usada como coluna agrupadora.

    Returns:
        dict: Dicionário com os valores das colunas especificadas.
    """

    # Cria um dicionário vazio
    dicionario = {}
    
    # Agrupa os dados por tipo
    grupos = df.groupby(coluna_agrupadora)

    # Percorre cada grupo e adiciona a chave e valor correspondentes no dicionário
    for nome_grupo, grupo in grupos:
        # Cria um dicionário para o grupo atual
        dict_grupo = {}
        # Percorre cada linha do grupo e adiciona a chave e valor correspondentes no dicionário do grupo
        for indice, linha in grupo.iterrows():
            chave = linha[coluna_chave]
            valor = linha[coluna_valor]
            dict_grupo[chave] = valor
        # Adiciona o dicionário do grupo ao dicionário geral, usando o nome do grupo como chave
        dicionario[nome_grupo] = dict_grupo

    return dicionario

In [271]:
def merge_dataframes(df1, df2):
    
    # Cria cópias dos dataframes para evitar perda de dados
    df1_copy = df1.copy()
    df2_copy = df2.copy()
    
    # Itera sobre cada linha do primeiro dataframe
    for i, row1 in df1_copy.iterrows():
        string_comparacao = row1['CONTRIBUINTE'] + '-' + str(row1['TIPO'])
        
        # Itera sobre cada linha do segundo dataframe
        for j, row2 in df2_copy.iterrows():
            
            # Compara o valor da coluna 'CONTRIBUINTE' em ambas as linhas
            if string_comparacao == row2['CONCAT_CODIGO']:
                
                # Atribui o valor da coluna 'CPF/CNPJ' do primeiro dataframe no segundo
                df2_copy.at[j, 'CPF/CNPJ'] = row1['CPF/CNPJ']
    
    # Faz o merge dos dois dataframes sem valores duplicados
    merged_df = pd.concat([df1_copy, df2_copy]).reset_index(drop=True)
    
    return merged_df

In [272]:
import hashlib

def gerar_codigo_unico(df, coluna_parametro):
    # Cria uma cópia do dataframe apenas com as colunas necessárias para a codificação
    df_copy = df[[coluna_parametro]].copy()

    # Cria um dicionário vazio para armazenar os códigos únicos gerados
    codigos = {}

    # Percorre cada linha do dataframe e armazena o código único gerado a partir do valor da coluna_parametro
    # no dicionário de códigos, se ainda não estiver lá
    for index, row in df_copy.iterrows():
        valor = row[coluna_parametro]
        if valor not in codigos:
            # Calcula o hash MD5 do valor da coluna_parametro
            codigo_hash = hashlib.md5(str(valor).encode('utf-8')).hexdigest()

            # Pega os primeiros 14 caracteres do hash como código único
            codigo_unico = codigo_hash[:14]

            # Armazena o código único no dicionário, com a chave sendo o valor da coluna_parametro
            codigos[valor] = codigo_unico
    
    # Cria uma nova coluna CODIGO no dataframe e preenche com os códigos gerados
    df['CODIGO'] = [codigos[row[coluna_parametro]] for index, row in df_copy.iterrows()]

    # Retorna o dataframe com a nova coluna CODIGO
    return df

In [273]:
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

In [274]:
dic_valores_2020 = df_to_dict(df_dados_completos_2020,'CPF/CNPJ','TIPO','TIPO')
dic_valores_2020

{1: {'09.123.654/0001-87': 1,
  '08.923.971/0001-15': 1,
  '00.000.000/0099-03': 1,
  '09.283.185/0001-63': 1,
  '738.558.394-68': 1,
  '30.822.936/0001-69': 1,
  '00.000.000/0001-91': 1,
  '10.609.902/0001-83': 1,
  '09.238.207/0001-73': 1,
  '10.293.888/0001-51': 1,
  '752.937.064-20': 1,
  '07.748.243/0001-51': 1,
  '33.000.118/0012-21': 1,
  '10.334.550/0001-09': 1,
  '330.968.994-87': 1,
  '40.973.307/0001-93': 1,
  '840.958.814-53': 1,
  '797.248.504-63': 1,
  '893.455.334-00': 1,
  '08.605.487/0001-48': 1,
  '00.000.313/0001-40': 1,
  '079.762.514-30': 1,
  '692.076.404-06': 1,
  '646.556.104-25': 1,
  '33.669.672/0070-75': 1,
  '09.095.183/0001-40': 1,
  '00.394.460/0086-30': 1,
  '09.087.693/0001-76': 1,
  '06.292.667/0001-91': 1,
  '05.323.998/0001-89': 1,
  '024.122.264-82': 1,
  '018.584.044-28': 1,
  '10.954.450/0001-77': 1,
  '11.663.900/0001-35': 1,
  '29.979.036/0169-00': 1,
  '00.703.157/0001-83': 1,
  '04.941.967/0001-29': 1,
  '09.353.327/0001-11': 1,
  '12.724.464/0001-20': 1,
  '07.414.193/0001-76': 1,
  '078.497.374-15': 1,
  '33.530.486/0032-25': 1,
  '064.659.174-67': 1,
  '24.215.436/0001-66': 1,
  '11.895.653/0001-00': 1,
  '029.244.903-83': 1,
  '02.322.271/0001-99': 1,
  '04.206.050/0001-80': 1,
  '02.737.867/0001-50': 1,
  '603.496.544-68': 1,
  '13.317.281/0001-52': 1,
  '04.624.228/0001-03': 1,
  '556.107.653-15': 1,
  '893.486.304-82': 1,
  '073.943.524-80': 1,
  '13.250.842/0001-43': 1,
  '00.636.397/0001-02': 1,
  '022.486.154-93': 1,
  '752.931.104-20': 1,
  '058.390.254-53': 1,
  '115.832.884-22': 1,
  '683.446.354-20': 1,
  '40.964.066/0001-16': 1,
  '048.557.104-82': 1,
  '10.571.183/0001-59': 1,
  '014.991.164-54': 1,
  '364.989.124-72': 1,
  '054.781.394-59': 1,
  '646.747.034-68': 1,
  '043.631.604-89': 1,
  '839.497.394-91': 1,
  '467.463.904-20': 1,
  '424.692.874-72': 1,
  '805.264.624-34': 1,
  '033.878.254-04': 1,
  '893.480.524-20': 1,
  '600.961.284-53': 1,
  '486.924.414-49': 1,
  '051.467.244-74': 1,
  '018.653.454-07': 1,
  '033.463.704-02': 1,
  '147.128.988-52': 1,
  '206.065.244-87': 1,
  '020.746.454-57': 1,
  '220.359.538-80': 1,
  '646.681.854-34': 1,
  '468.520.854-49': 1,
  '042.900.104-58': 1,
  '414.305.654-20': 1,
  '020.662.534-05': 1,
  '646.710.704-72': 1,
  '526.772.224-34': 1,
  '057.735.904-50': 1,
  '965.566.334-53': 1,
  '044.706.894-67': 1,
  '601.390.644-00': 1,
  '568.444.844-53': 1,
  '01.048.873/0001-37': 1,
  '01.230.394/0001-37': 1,
  '35.506.567/0002-08': 1,
  '11.427.407/0001-16': 1,
  '09.185.398/0001-52': 1,
  '03.133.882/0001-51': 1,
  '16.600.654/0001-96': 1,
  '05.816.614/0001-60': 1,
  '10.867.184/0001-45': 1,
  '12.723.763/0001-40': 1,
  '760.800.054-68': 1,
  '041.750.174-96': 1,
  '17.231.568/0001-16': 1,
  '014.795.334-08': 1,
  '15.466.280/0001-03': 1,
  '15.626.860/0001-02': 1,
  '18.406.277/0001-84': 1,
  '05.748.217/0001-06': 1,
  '129.373.868-90': 1,
  '097.900.524-80': 1,
  '229.721.008-67': 1,
  '03.620.255/0001-45': 1,
  '05.139.831/0001-62': 1,
  '004.406.204-49': 1,
  '068.714.274-14': 1,
  '07.239.645/0001-20': 1,
  '028.438.904-89': 1,
  '13.811.519/0001-00': 1,
  '018.297.004-30': 1,
  '03.434.985/0001-51': 1,
  '04.801.728/0001-73': 1,
  '05.895.220/0001-44': 1,
  '04.696.443/0001-10': 1,
  '27.260.315/0001-24': 1,
  '17.731.703/0001-92': 1,
  '023.026.234-10': 1,
  '15.665.345/0001-31': 1,
  '07.838.541/0001-32': 1,
  '40.982.464/0001-65': 1,
  '08.658.985/0001-59': 1,
  '09.605.345/0001-43': 1,
  '09.318.577/0001-10': 1,
  '09.188.376/0001-46': 1,
  '031.893.004-88': 1,
  '583.120.644-00': 1,
  '526.409.904-97': 1,
  '044.369.014-67': 1,
  '08.170.630/0001-16': 1,
  '00.394.494/0104-41': 1,
  '872.890.244-00': 1,
  '40.982.464/0002-46': 1,
  '09.247.065/0001-00': 1,
  '500.461.364-87': 1,
  '81.243.735/0001-48': 1,
  '07.206.138/0001-90': 1,
  '646.490.324-15': 1,
  '97.545.946/0001-75': 1,
  '35.568.849/0001-40': 1,
  '04.228.353/0001-02': 1,
  '034.513.314-54': 1,
  '839.469.854-91': 1,
  '00.378.257/0001-81': 1,
  '09.600.404/0001-90': 1,
  '00.662.270/0003-20': 1,
  '205.852.414-49': 1,
  '675.296.904-34': 1,
  '893.482.224-49': 1,
  '441.958.264-20': 1,
  '034.228.554-83': 1,
  '032.058.214-08': 1,
  '03.823.681/0001-86': 1,
  '03.936.074/0002-03': 1,
  '108.859.974-50': 1,
  '162.396.364-87': 1,
  '06.197.022/0001-70': 1,
  '12.931.457/0001-07': 1,
  '11.118.954/0001-10': 1,
  '00.947.659/0001-50': 1,
  '288.097.568-94': 1,
  '095.039.644-31': 1,
  '14.958.510/0001-80': 1,
  '874.043.544-04': 1,
  '982.409.431-87': 1,
  '227.999.152-72': 1,
  '06.179.688/0001-03': 1,
  '09.472.050/0001-46': 1,
  '88.611.835/0008-03': 1,
  '285.005.634-00': 1,
  '714.484.114-91': 1,
  '08.761.132/0001-48': 1,
  '08.790.792/0003-19': 1,
  '04.076.245/0001-53': 1,
  '132.458.054-20': 1,
  '009.348.631-64': 1,
  '12.722.682/0001-25': 1,
  '05.342.580/0001-19': 1,
  '04.616.705/0001-99': 1,
  '00.198.693/0001-79': 1,
  '805.263.304-49': 1,
  '10.309.248/0001-92': 1,
  '071.793.984-70': 1,
  '04.763.831/0001-76': 1,
  '034.837.294-96': 1,
  '057.166.464-41': 1,
  '931.263.444-53': 1,
  '17.952.724/0001-38': 1,
  '039.296.934-37': 1,
  '029.517.678-46': 1,
  '038.732.674-03': 1,
  '031.214.684-13': 1,
  '893.497.924-00': 1,
  '646.697.004-30': 1,
  '14.140.752/0001-62': 1,
  '00.394.460/0409-50': 1,
  '031.853.264-66': 1,
  '057.740.084-36': 1,
  '088.076.024-90': 1,
  '034.235.374-85': 1,
  '024.778.534-22': 1,
  '033.553.254-30': 1,
  '798.360.974-49': 1,
  '018.584.124-47': 1,
  '011.437.324-80': 1,
  '981.348.924-34': 1,
  '080.823.994-57': 1,
  '023.651.724-40': 1,
  '034.313.924-31': 1,
  '14.237.493/0001-92': 1,
  '03.160.232/0001-03': 1,
  '09.236.843/0010-57': 1,
  '951.912.674-00': 1,
  '027.168.664-22': 1,
  '04.242.513/0001-60': 1,
  '408.667.004-63': 1,
  '601.412.634-15': 1,
  '01.518.579/0001-41': 1,
  '038.711.864-06': 1,
  '34.028.316/3663-53': 1,
  '692.077.984-68': 1,
  '02.030.715/0001-12': 1,
  '04.196.645/0001-00': 1,
  '34.028.316/0019-32': 1,
  '01.524.627/0001-04': 1,
  '11.902.871/0001-17': 1,
  '09.444.244/0001-38': 1,
  '010.410.484-83': 1,
  '10.559.865/0001-46': 1,
  '07.202.863/0001-90': 1,
  '646.603.704-53': 1,
  '09.111.832/0001-50': 1,
  '126.313.258-85': 1,
  '066.039.884-29': 1,
  '04.884.574/0001-20': 1,
  '00.210.590/0001-87': 1,
  '24.504.623/0001-60': 1,
  '04.953.021/0001-82': 1,
  '084.176.574-01': 1,
  '160.206.424-53': 1,
  '468.413.004-59': 1,
  '08.703.373/0001-30': 1,
  '10.963.942/0001-29': 1,
  '02.723.169/0001-03': 1,
  '045.640.014-18': 1,
  '02.349.756/0001-76': 1,
  '02.750.635/0001-31': 1,
  '07.671.995/0001-61': 1,
  '034.834.054-02': 1,
  '13.304.347/0001-70': 1,
  '05.471.862/0001-16': 1,
  '040.902.873-83': 1,
  '027.232.044-72': 1,
  '13.326.462/0001-45': 1,
  '15.717.891/0001-79': 1,
  '07.414.971/0001-27': 1,
  '40.953.200/0001-83': 1,
  '042.944.264-54': 1,
  '17.191.317/0001-55': 1,
  '07.203.626/0001-44': 1,
  '029.318.644-80': 1,
  '01.791.741/0001-09': 1,
  '03.538.267/0001-25': 1,
  '00.391.528/0001-39': 1,
  '08.761.157/0002-22': 1,
  '08.329.849/0001-15': 1,
  '032.689.294-00': 1,
  '023.536.144-50': 1,
  '311.608.324-04': 1,
  '010.234.594-50': 1,
  '451.239.004-97': 1,
  '07.467.240/0001-40': 1,
  '063.190.764-53': 1,
  '058.612.444-64': 1,
  '08.923.815/0001-54': 1,
  '17.691.935/0001-64': 1,
  '10.997.953/0001-20': 1,
  '07.447.487/0001-02': 1,
  '042.164.284-01': 1,
  '951.830.434-34': 1,
  '113.372.824-30': 1,
  '08.667.024/0001-00': 1,
  '056.092.364-36': 1,
  '08.170.634/0001-02': 1,
  '037.514.284-37': 1,
  '03.509.150/0005-47': 1,
  '10.507.466/0001-31': 1,
  '01.378.407/0001-10': 1,
  '568.431.864-91': 1,
  '08.841.389/0001-00': 1,
  '13.238.391/0001-29': 1,
  '077.465.564-00': 1,
  '646.575.664-15': 1,
  '08.757.221/0001-10': 1,
  '526.499.544-34': 1,
  '918.395.994-72': 1,
  '00.360.305/0040-10': 1,
  '500.452.534-04': 1,
  '119.670.114-86': 1,
  '091.316.164-02': 1,
  '738.130.444-91': 1,
  '027.225.624-21': 1,
  '093.102.934-11': 1,
  '022.607.541-98': 1,
  '107.321.814-70': 1,
  '060.469.154-81': 1,
  '01.326.360/0001-40': 1,
  '570.159.964-72': 1,
  '137.128.104-15': 1,
  '055.523.584-06': 1,
  '646.688.354-04': 1,
  '084.238.754-40': 1,
  '18.806.271/0001-02': 1,
  '269.529.108-67': 1,
  '278.947.114-20': 1,
  '478.201.284-53': 1,
  '099.818.934-04': 1,
  '115.462.391-20': 1,
  '692.402.214-68': 1,
  '911.148.104-87': 1,
  '140.877.838-63': 1,
  '11.112.249/0001-05': 1,
  '646.694.408-53': 1,
  '043.331.674-85': 1,
  '160.399.204-91': 1,
  '038.242.324-05': 1,
  '154.170.774-53': 1,
  '171.846.813-04': 1,
  '364.987.264-15': 1,
  '646.597.714-15': 1,
  '295.190.998-59': 1,
  '031.905.304-08': 1,
  '021.368.964-23': 1,
  '918.392.704-20': 1,
  '116.996.674-89': 1,
  '042.154.524-06': 1,
  '011.384.924-93': 1,
  '338.227.354-34': 1,
  '893.453.124-04': 1,
  '368.275.094-00': 1,
  '313.210.464-72': 1,
  '109.670.444-72': 1,
  '625.355.521-91': 1,
  '096.349.304-33': 1,
  '603.503.184-68': 1,
  '056.332.424-40': 1,
  '026.808.964-75': 1,
  '018.499.614-76': 1,
  '055.430.044-35': 1,
  '646.574.504-68': 1,
  '033.218.674-19': 1,
  '486.224.864-00': 1,
  '09.139.551/0010-04': 1,
  '600.957.254-15': 1,
  '721.723.043-87': 1,
  '066.403.864-61': 1,
  '034.303.174-44': 1,
  '061.766.614-80': 1,
  '412.672.904-63': 1,
  '992.802.804-49': 1,
  '704.049.274-16': 1,
  '518.390.164-34': 1,
  '600.939.514-34': 1,
  '981.318.774-34': 1,
  '282.712.878-00': 1,
  '951.919.174-72': 1,
  '059.247.484-48': 1,
  '03.659.166/0007-06': 1,
  '10.749.976/0001-15': 1,
  '500.464.204-44': 1,
  '880.776.598-53': 1,
  '08.973.752/0001-40': 1,
  '21.551.210/0001-48': 1,
  '01.612.452/0001-97': 1,
  '05.526.783/0001-65': 1,
  '11.676.282/0001-68': 1,
  '038.426.684-30': 1,
  '09.402.406/0001-75': 1,
  '054.827.734-69': 1,
  '34.151.100/0013-74': 1,
  '893.450.104-91': 1,
  '023.664.004-62': 1,
  '038.306.854-16': 1,
  '042.045.824-78': 1,
  '527.116.334-20': 1,
  '018.499.224-97': 1,
  '036.450.934-19': 1,
  '026.312.224-74': 1,
  '042.595.914-79': 1,
  '019.744.448-21': 1,
  '092.043.174-77': 1,
  '059.243.524-55': 1,
  '112.503.994-91': 1,
  '08.798.605/0001-81': 1,
  '09.164.369/0001-04': 1,
  '11.180.607/0001-17': 1,
  '33.484.825/0001-88': 1,
  '11.516.881/0001-14': 1,
  '33.066.408/0808-01': 1,
  '14.265.552/0001-36': 1,
  '045.697.554-37': 1,
  '154.168.794-91': 1,
  '206.256.004-44': 1,
  '13.264.637/0001-37': 1,
  '047.087.944-01': 1,
  '08.060.934/0001-20': 1,
  '05.321.071/0001-00': 1,
  '033.200.414-79': 1,
  '07.553.129/0001-76': 1,
  '739.095.304-78': 1,
  '042.526.534-01': 1,
  '40.961.617/0001-98': 1,
  '04.375.419/0001-89': 1,
  '03.980.538/0001-06': 1,
  '568.448.674-68': 1,
  '116.899.904-90': 1,
  '981.323.424-53': 1,
  '056.636.384-40': 1,
  '024.618.834-08': 1,
  '077.743.344-32': 1,
  '018.526.254-65': 1,
  '312.142.664-87': 1,
  '043.279.974-55': 1,
  '367.449.304-78': 1,
  '069.698.534-97': 1,
  '11.902.878/0001-39': 1,
  '031.343.244-90': 1,
  '646.590.384-91': 1,
  '110.430.594-15': 1,
  '032.649.364-61': 1,
  '10.876.240/0001-08': 1,
  '032.196.844-16': 1,
  '055.502.074-60': 1,
  '17.372.598/0001-42': 1,
  '17.184.648/0001-68': 1,
  '10.513.210/0001-37': 1,
  '601.386.964-20': 1,
  '10.409.223/0001-60': 1,
  '10.555.446/0001-36': 1,
  '04.051.269/0001-58': 1,
  '04.064.641/0001-60': 1,
  '24.502.049/0001-00': 1,
  '965.708.814-34': 1,
  '027.389.084-03': 1,
  '00.348.323/0001-70': 1,
  '09.210.219/0001-90': 1,
  '10.471.195/0001-01': 1,
  '052.341.924-40': 1,
  '600.932.344-49': 1,
  '066.004.744-67': 1,
  '051.714.194-93': 1,
  '053.155.014-18': 1,
  '028.976.934-52': 1,
  '02.147.582/0001-69': 1,
  '024.609.704-39': 1,
  '041.726.474-72': 1,
  '052.561.364-10': 1,
  '10.319.076/0001-38': 1,
  '061.158.574-06': 1,
  '132.721.794-53': 1,
  '131.712.594-00': 1,
  '325.898.163-91': 1,
  '026.768.014-73': 1,
  '031.896.694-81': 1,
  '053.860.814-54': 1,
  '09.245.424/0001-90': 1,
  '219.732.104-87': 1,
  '130.330.184-91': 1,
  '35.503.721/0001-07': 1,
  '05.999.280/0001-07': 1,
  '108.259.394-02': 1,
  '15.085.199/0001-75': 1,
  '055.155.464-90': 1,
  '646.559.974-00': 1,
  '11.064.297/0001-75': 1,
  '342.616.804-91': 1,
  '023.276.384-45': 1,
  '05.222.411/0001-45': 1,
  '321.325.144-53': 1,
  '009.139.504-67': 1,
  '033.474.294-35': 1,
  '783.546.687-20': 1,
  '046.510.094-50': 1,
  '272.989.898-04': 1,
  '203.938.438-31': 1,
  '104.334.384-95': 1,
  '030.850.984-61': 1,
  '981.302.854-87': 1,
  '57.754.285/0001-73': 1,
  '051.175.584-80': 1,
  '789.450.974-49': 1,
  '05.463.825/0001-66': 1,
  '027.787.354-10': 1,
  '63.478.895/0001-94': 1,
  '10.831.701/0001-26': 1,
  '12.305.387/0001-73': 1,
  '10.806.118/0001-65': 1,
  '01.722.296/0001-17': 1,
  '06.224.321/0001-56': 1,
  '10.445.253/0001-22': 1,
  '40.787.152/0001-09': 1,
  '045.710.654-93': 1,
  '00.976.916/0001-81': 1,
  '11.547.142/0001-90': 1,
  '346.144.004-34': 1,
  '11.426.166/0001-90': 1,
  '13.094.898/0001-56': 1,
  '40.983.751/0001-90': 1,
  '14.866.736/0001-51': 1,
  '06.328.947/0001-02': 1,
  '739.303.344-53': 1,
  '09.478.023/0001-80': 1,
  '011.483.514-42': 1,
  '11.289.729/0001-46': 1,
  '080.659.394-65': 1,
  '646.714.614-04': 1,
  '004.404.004-06': 1,
  '498.636.224-00': 1,
  '010.771.954-19': 1,
  '039.671.164-25': 1,
  '08.388.176/0001-74': 1,
  '154.332.184-49': 1,
  '048.654.654-30': 1,
  '030.167.084-69': 1,
  '024.026.814-89': 1,
  '048.625.184-51': 1,
  '032.964.174-35': 1,
  '030.907.854-71': 1,
  '798.363.214-20': 1,
  '09.297.961/0001-84': 1,
  '009.370.954-43': 1,
  '101.131.494-09': 1,
  '07.936.090/0001-76': 1,
  '07.207.970/0001-01': 1,
  '64.779.374/0001-30': 1,
  '095.363.824-31': 1,
  '04.774.540/0001-83': 1,
  '092.113.708-76': 1,
  '768.862.984-53': 1,
  '911.127.704-10': 1,
  '026.240.704-35': 1,
  '008.164.894-40': 1,
  '308.941.658-10': 1,
  '10.482.492/0001-52': 1,
  '601.202.154-20': 1,
  '10.765.543/0002-34': 1,
  '043.414.024-47': 1,
  '908.291.073-04': 1,
  '086.059.324-06': 1,
  '11.855.390/0001-06': 1,
  '504.302.544-15': 1,
  '068.845.164-02': 1,
  '424.671.954-49': 1,
  '713.838.084-49': 1,
  '024.427.974-88': 1,
  '025.837.174-99': 1,
  '020.408.544-60': 1,
  '425.094.244-91': 1,
  '423.109.033-53': 1,
  '518.386.804-20': 1,
  '097.925.248-27': 1,
  '033.877.814-40': 1,
  '343.215.354-68': 1,
  '029.292.564-60': 1,
  '021.446.024-09': 1,
  '023.806.974-50': 1,
  '100.741.454-52': 1,
  '062.911.364-57': 1,
  '086.530.594-31': 1,
  '094.860.814-50': 1,
  '805.273.884-91': 1,
  '014.707.294-82': 1,
  '535.876.344-91': 1,
  '818.641.754-00': 1,
  '058.618.864-90': 1,
  '093.313.274-39': 1,
  '676.172.204-72': 1,
  '040.441.434-63': 1,
  '646.598.604-34': 1,
  '692.391.774-34': 1,
  '568.449.054-91': 1,
  '056.406.064-01': 1,
  '094.184.114-66': 1,
  '037.510.424-07': 1,
  '839.422.544-68': 1,
  '646.719.094-72': 1,
  '342.621.994-87': 1,
  '042.198.014-13': 1,
  '100.093.814-06': 1,
  '11.995.145/0001-96': 1,
  '042.281.484-92': 1,
  '527.102.544-68': 1,
  '054.799.004-98': 1,
  '251.962.878-25': 1,
  '646.564.544-00': 1,
  '10.523.901/0001-11': 1,
  '204.020.584-53': 1,
  '09.127.069/0001-55': 1,
  '160.206.694-91': 1,
  '713.420.524-04': 1,
  '044.689.494-06': 1,
  '367.447.784-04': 1,
  '061.221.944-50': 1,
  '215.763.435-53': 1,
  '068.916.394-09': 1,
  '768.788.994-00': 1,
  '24.280.828/0001-09': 1,
  '07.511.294/0001-65': 1,
  '646.684.104-97': 1,
  '035.790.254-81': 1,
  '024.067.784-60': 1,
  '646.712.594-00': 1,
  '584.248.063-87': 1,
  '011.934.591-92': 1,
  '038.202.248-31': 1,
  '061.947.014-39': 1,
  '010.657.634-84': 1,
  '031.912.454-13': 1,
  '031.894.864-84': 1,
  '119.111.108-37': 1,
  '036.013.188-30': 1,
  '040.015.858-20': 1,
  '020.533.074-63': 1,
  '005.967.973-54': 1,
  '872.889.904-00': 1,
  '056.323.784-89': 1,
  '207.617.324-20': 1,
  '690.371.404-91': 1,
  '062.101.294-71': 1,
  '175.193.798-41': 1,
  '008.907.704-09': 1,
  '603.474.734-15': 1,
  '020.140.584-90': 1,
  '034.606.524-03': 1,
  '058.541.714-81': 1,
  '981.214.994-53': 1,
  '062.846.024-48': 1,
  '250.317.324-15': 1,
  '020.836.744-64': 1,
  '011.188.104-81': 1,
  '526.455.334-34': 1,
  '039.293.254-70': 1,
  '657.619.604-00': 1,
  '000.911.024-05': 1,
  '048.114.004-29': 1,
  '267.630.948-09': 1,
  '111.340.098-60': 1,
  '011.903.704-17': 1,
  '096.559.158-16': 1,
  '010.354.394-50': 1,
  '364.970.104-91': 1,
  '044.432.924-20': 1,
  '805.999.314-34': 1,
  '043.772.594-40': 1,
  '028.919.854-27': 1,
  '078.077.764-63': 1,
  '065.283.894-46': 1,
  '424.670.804-63': 1,
  '06.736.540/0001-14': 1,
  '020.918.854-52': 1,
  '023.724.913-85': 1,
  '049.449.544-84': 1,
  '028.844.164-80': 1,
  '000.790.624-23': 1,
  '144.101.684-87': 1,
  '000.785.083-20': 1,
  '059.896.944-66': 1,
  '032.132.678-48': 1,
  '035.257.094-63': 1,
  '083.846.974-42': 1,
  '062.847.024-00': 1,
  '395.804.404-25': 1,
  '00.983.013/0001-28': 1,
  '060.764.074-09': 1,
  '035.379.624-79': 1,
  '911.148.374-15': 1,
  '181.315.508-93': 1,
  '05.717.590/0001-91': 1,
  '149.310.508-67': 1,
  '468.356.794-68': 1,
  '646.601.254-91': 1,
  '108.551.414-50': 1,
  '03.648.948/0001-46': 1,
  '17.415.972/0001-40': 1,
  '010.996.155-26': 1,
  '437.055.704-63': 1,
  '518.382.814-87': 1,
  '826.402.034-87': 1,
  '043.695.984-43': 1,
  '490.553.484-49': 1,
  '106.117.524-33': 1,
  '067.528.794-43': 1,
  '056.168.044-28': 1,
  '191.165.434-91': 1,
  '031.893.384-50': 1,
  '131.632.214-91': 1,
  '203.176.204-44': 1,
  '081.055.904-84': 1,
  '136.419.214-49': 1,
  '360.048.044-87': 1,
  '011.472.114-93': 1,
  '07.597.013/0001-39': 1,
  '086.766.624-28': 1,
  '109.257.084-53': 1,
  '018.455.184-62': 1,
  '136.307.924-72': 1,
  '893.498.904-10': 1,
  '034.180.884-90': 1,
  '10.554.743/0001-67': 1,
  '056.382.744-05': 1,
  '043.694.814-14': 1,
  '992.801.404-34': 1,
  '11.297.019/0001-68': 1,
  '168.931.608-01': 1,
  '014.730.454-79': 1,
  '674.728.264-72': 1,
  '020.164.634-06': 1,
  '854.696.614-15': 1,
  '789.614.674-68': 1,
  '029.883.624-67': 1,
  '888.451.336-72': 1,
  '057.923.834-21': 1,
  '364.963.914-91': 1,
  '028.286.524-16': 1,
  '280.745.788-60': 1,
  '038.950.814-42': 1,
  '025.420.054-00': 1,
  '497.639.113-20': 1,
  '01.109.184/0001-95': 1,
  '025.838.464-69': 1,
  '094.337.634-32': 1,
  '486.277.804-63': 1,
  '674.758.414-72': 1,
  '219.733.854-49': 1,
  '066.899.794-07': 1,
  '052.075.294-55': 1,
  '992.802.304-25': 1,
  '051.915.124-05': 1,
  '065.992.194-46': 1,
  '424.690.584-49': 1,
  '601.388.234-72': 1,
  '150.627.401-34': 1,
  '982.782.154-72': 1,
  '145.313.328-30': 1,
  '041.412.774-95': 1,
  '057.923.774-56': 1,
  '011.777.404-94': 1,
  '116.006.884-46': 1,
  '022.154.844-03': 1,
  '034.209.554-48': 1,
  '086.481.584-00': 1,
  '178.108.148-42': 1,
  '600.960.554-72': 1,
  '099.512.664-01': 1,
  '041.531.204-30': 1,
  '72.381.189/0006-25': 1,
  '527.104.594-34': 1,
  '041.530.144-00': 1,
  '17.394.356/0001-50': 1,
  '08.948.054/0001-95': 1,
  '250.323.994-34': 1,
  '35.589.456/0001-13': 1,
  '020.545.684-73': 1,
  '03.193.960/0001-03': 1,
  '13.002.970/0001-78': 1,
  '065.496.094-10': 1,
  '033.442.854-83': 1,
  '073.284.644-70': 1,
  '928.891.318-15': 1,
  '030.815.114-37': 1,
  '066.833.234-45': 1,
  '070.505.154-42': 1,
  '07.543.301/0001-00': 1,
  '646.588.214-00': 1,
  '067.930.534-34': 1,
  '17.047.535/0001-10': 1,
  '35.583.343/0001-00': 1,
  '395.795.734-68': 1,
  '09.124.165/0001-40': 1,
  '443.528.321-20': 1,
  '465.508.367-00': 1,
  '026.409.414-02': 1,
  '17.206.133/0001-11': 1,
  '06.147.674/0001-08': 1,
  '620.475.233-20': 1,
  '071.278.724-06': 1,
  '044.706.914-45': 1,
  '805.249.584-91': 1,
  '068.762.344-87': 1,
  '065.139.284-51': 1,
  '600.960.124-04': 1,
  '043.147.204-17': 1,
  '098.121.694-31': 1,
  '690.652.684-72': 1,
  '294.438.258-64': 1,
  '738.557.584-68': 1,
  '037.524.314-31': 1,
  '042.045.124-29': 1,
  '468.261.494-00': 1,
  '06.212.251/0001-16': 1,
  '028.913.914-70': 1,
  '326.876.993-49': 1,
  '853.934.288-04': 1,
  '278.933.084-00': 1,
  '12.761.804/0001-92': 1,
  '104.052.844-97': 1,
  '019.773.374-30': 1,
  '441.968.304-04': 1,

In [275]:
df_dados_completos_tratados_2020['CONCAT_CODIGO'] = df_dados_completos_tratados_2020.apply(lambda x: x['CPF/CNPJ'] + '-' + str(x['TIPO']), axis=1)
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CONCAT_CODIGO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1,09.123.654/0001-87-1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1,08.923.971/0001-15-1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1,00.000.000/0099-03-1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1,00.000.000/0099-03-1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1,00.000.000/0099-03-1

In [276]:
df_contribuintes_receitas_2020 = pd.DataFrame(df_dados_completos_tratados_2020[['CPF/CNPJ','CONTRIBUINTE','TIPO','CONCAT_CODIGO']])
df_contribuintes_receitas_2020.drop_duplicates(subset='CONCAT_CODIGO', inplace=True)
df_contribuintes_receitas_2020.reset_index(drop=True)
df_contribuintes_receitas_2020[['TIPO']].value_counts()

TIPO
1       5546
3        394
2        344
4          4
dtype: int64

In [277]:
def remove_espacos_brancos_inicio(df):
    for coluna in df.columns:
        if df[coluna].dtype == 'object':
            df[coluna] = df[coluna].str.lstrip()
    return df

In [278]:
df_dados_completos_tratados_2022 = remove_espacos_brancos_inicio(df_dados_completos_tratados_2022)

In [279]:
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,sem informacao
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,sem informacao
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,sem informacao
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,sem informacao
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,sem informacao

In [280]:
dic_valores_2022 = df_to_dict(df_dados_completos_2022,'CONTRIBUINTE','TIPO','TIPO')
dic_valores_2022

{1: {' fundo municipal de assistencia social': 1,
  ' secretaria municipal de desenvolvimento humano': 1,
  ' fundo municipal de saude': 1,
  ' secretaria municipal de educacao': 1,
  ' secretaria municipal de juventude esporte e turismo': 1,
  ' procuradoria geral do municipio': 1,
  ' secretaria municipal da fazenda publica': 1,
  ' secretaria municipal de saude': 1,
  ' secretaria de governo e articulacao politica': 1,
  ' secretaria municipal de politicas publicas': 1,
  ' secretaria municipal de politicas publicas para as mulheres': 1,
  ' secretaria municipal de cultura e turismo': 1,
  ' secretaria municipal de controle social': 1,
  ' secretaria municipal do desenvolvimento rural e do meio ambiente': 1,
  ' secretaria municipal de infraestrutura': 1,
  ' secretaria municipal de administracao': 1,
  ' secretaria municipal de planejamento': 1,
  ' secretaria municipal de comunicacao': 1,
  ' secretaria municipal de meio ambiente': 1,
  ' secretaria municipal de juventude e esporte': 1,
  ' secretaria municipal do desenvolvimento rural e recursos hidricos': 1},
 2: {' instituto de previdencia e assistencia municipal de cajazeiras': 2},
 3: {' superintendencia cajazeirense de transito': 3},
 4: {' camara municipal': 4}}

In [281]:
df_dados_completos_tratados_2022['CONCAT_CODIGO'] = df_dados_completos_tratados_2022.apply(lambda x: x['CONTRIBUINTE'] + '-' + str(x['TIPO']), axis=1)
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ,CONCAT_CODIGO
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,sem informacao,fundo municipal de assistencia social-1
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,sem informacao,fundo municipal de assistencia social-1
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,sem informacao,fundo municipal de assistencia social-1
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,sem informacao,fundo municipal de assistencia social-1
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,sem informacao,secretaria municipal de desenvolvimento humano-1

In [282]:
df_contribuintes_receitas_2022 = pd.DataFrame(df_dados_completos_tratados_2022[['CPF/CNPJ','CONTRIBUINTE','TIPO','CONCAT_CODIGO']])
df_contribuintes_receitas_2022.drop_duplicates(subset='CONCAT_CODIGO', inplace=True)
df_contribuintes_receitas_2022.reset_index(drop=True)
df_contribuintes_receitas_2022[['TIPO']].value_counts()

TIPO
1       21
2        1
3        1
4        1
dtype: int64

## Merge dos Df

### Merge dos dados dos contribuintes

In [283]:
df_contribuinte_merged = merge_dataframes(df_contribuintes_receitas_2020, df_contribuintes_receitas_2022)
df_contribuinte_merged

,CPF/CNPJ,CONTRIBUINTE,TIPO,CONCAT_CODIGO
0,09.123.654/0001-87,cagepacom de agua e esgotos da paraiba,1,09.123.654/0001-87-1
1,08.923.971/0001-15,prefeitura municipal de cajazeiras,1,08.923.971/0001-15-1
2,00.000.000/0099-03,banco do brasil sa,1,00.000.000/0099-03-1
3,09.283.185/0001-63,poder judiciario do estado da paraiba,1,09.283.185/0001-63-1
4,738.558.394-68,henrique sergio alves da cunha,1,738.558.394-68-1
...,...,...,...,...
6307,08.841.553/0001-89,camara municipal de cajazeiras,4,camara municipal de cajazeiras-4
6308,sem informacao,secretaria municipal de comunicacao,1,secretaria municipal de comunicacao-1
6309,sem informacao,secretaria municipal de meio ambiente,1,secretaria municipal de meio ambiente-1
6310,sem informacao,secretaria municipal de juventude e esporte,1,secretaria municipal de juventude e esporte-1
6311,sem informacao,secretaria municipal do desenvolvimento rural ...,1,secretaria municipal do desenvolvimento rural ...

In [284]:
df_contribuinte_merged[['TIPO']].value_counts()

TIPO
1       5567
3        395
2        345
4          5
dtype: int64

In [285]:
df_contribuinte_merged = gerar_codigo_unico(df_contribuinte_merged,'CONCAT_CODIGO')
df_contribuinte_merged.sort_values(['TIPO'], ascending=True, inplace=True)
df_contribuinte_merged.reset_index(drop=True)

,CPF/CNPJ,CONTRIBUINTE,TIPO,CONCAT_CODIGO,CODIGO
0,09.123.654/0001-87,cagepacom de agua e esgotos da paraiba,1,09.123.654/0001-87-1,86eabac73f48c4
1,080.329.514-66,raniely duarte barreto,1,080.329.514-66-1,c86a88163a502f
2,025.419.924-08,cicera de freitas rocha,1,025.419.924-08-1,0d5215bcd76d11
3,526.406.044-49,maria rivonia pereira de oliveira,1,526.406.044-49-1,6709a10d3ece82
4,823.237.713-53,luciana barreto rolim,1,823.237.713-53-1,a4c224f5451c8e
...,...,...,...,...,...
6307,102.097.424-96,prefeitura municipal de cajazeiras,4,102.097.424-96-4,2521c02e3c6b10
6308,08.923.971/0001-15,prefeitura municipal de cajazeiras,4,08.923.971/0001-15-4,6e8245200e6967
6309,646.603.624-34,marcos helder,4,646.603.624-34-4,a50e69b97e2b34
6310,08.841.553/0001-89,camara municipal de cajazeiras,4,08.841.553/0001-89-4,24bf0d009e9239
6311,08.841.553/0001-89,camara municipal de cajazeiras,4,camara municipal de cajazeiras-4,57efb89539a8a0

In [286]:
def remove_espacos_duplos(df):
    # copia o DataFrame original
    df_copy = df.copy()
    # itera sobre as colunas do DataFrame
    for col in df_copy.columns:
        # verifica se a coluna é do tipo 'object' (string)
        if df_copy[col].dtype == 'O':
            # remove espaços duplicados da coluna
            df_copy[col] = df_copy[col].str.replace('\s+', ' ')
    return df_copy

In [287]:
df_contribuinte_merged = remove_espacos_duplos(df_contribuinte_merged)

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_4576\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

In [288]:
save_dataframe(df_contribuinte_merged,'dados_contribuintes_despesas')

with open('arquivos_para_carga/dados_contribuintes_despesas.csv', 'w', encoding='utf-8', newline='') as f:
    df_contribuinte_merged.to_csv(f, **csv_kwargs)

## Dados Tipos de Despesa

In [289]:
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ,CONCAT_CODIGO
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,sem informacao,fundo municipal de assistencia social-1
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,sem informacao,fundo municipal de assistencia social-1
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,sem informacao,fundo municipal de assistencia social-1
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,sem informacao,fundo municipal de assistencia social-1
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,sem informacao,secretaria municipal de desenvolvimento humano-1

In [290]:
df_tipos_despesa = pd.DataFrame(df_dados_completos_tratados_2022[['COD_DESPESA','TIPO_DESPESA']])
df_tipos_despesa.head()

   COD_DESPESA                                   TIPO_DESPESA
0       339039  outros servicos de terceiros  pessoa juridica
1       319004              contratacao por tempo determinado
2       319004              contratacao por tempo determinado
3       319011   vencimentos e vantagens fixas  pessoal civil
4       319011   vencimentos e vantagens fixas  pessoal civil

In [291]:
df_tipos_despesa.drop_duplicates(subset='COD_DESPESA', inplace=True)
df_tipos_despesa.reset_index(drop=True, inplace=True)

In [292]:
df_tipos_despesa = remove_espacos_duplos(df_tipos_despesa)
df_tipos_despesa

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_4576\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

    COD_DESPESA                                       TIPO_DESPESA
0        339039       outros servicos de terceiros pessoa juridica
1        319004                  contratacao por tempo determinado
2        319011        vencimentos e vantagens fixas pessoal civil
3        339030                                material de consumo
4        335041                                      contribuicoes
5        339036         outros servicos de terceiros pessoa fisica
6        339091                                sentencas judiciais
7        339048      outros auxilios financeiros a pessoas fisicas
8        469071           principal da divida contratual resgatado
9        319113                            contribuicoes patronais
10       449052                 equipamentos e material permanente
11       339093                        indenizacoes e restituicoes
12       339047             obrigacoes tributarias e contributivas
13       339032  material bem ou servico para distribuicao grat...
14       339014                                      diarias civil
15       339035                            servicos de consultoria
16       339018                    auxilio financeiro a estudantes
17       319091                                sentencas judiciais
18       469171           principal da divida contratual resgatada
19       449051                                obras e instalacoes
20       449030                                material de consumo
21       339040  servicos de tecnologia da informacao e comunic...
22       449061                               aquisicao de imoveis
23       339092                  despesas de exercicios anteriores
24       455066          concessao de emprestimos e financiamentos
25       339033                 passagens e despesas com locomocao
26       319092                  despesas de exercicios anteriores
27       469091                                sentencas judiciais
28       319013                               obrigacoes patronais
29       335039       outros servicos de terceiros pessoa juridica
30       319192                  despesas de exercicios anteriores
31       319003                       pensoes do rpps e do militar
32       319001  aposentadorias do rpps reserva remunerada e re...
33       335043                                 subvencoes sociais
34       339031  premiacoes culturais artisticas cientificas de...

In [293]:
df_tipos_despesa.loc[len(df_tipos_despesa)] = ['000001','nao ha dados sobre a classe dessa despesa']

In [294]:
df_tipos_despesa

   COD_DESPESA                                       TIPO_DESPESA
0       339039       outros servicos de terceiros pessoa juridica
1       319004                  contratacao por tempo determinado
2       319011        vencimentos e vantagens fixas pessoal civil
3       339030                                material de consumo
4       335041                                      contribuicoes
5       339036         outros servicos de terceiros pessoa fisica
6       339091                                sentencas judiciais
7       339048      outros auxilios financeiros a pessoas fisicas
8       469071           principal da divida contratual resgatado
9       319113                            contribuicoes patronais
10      449052                 equipamentos e material permanente
11      339093                        indenizacoes e restituicoes
12      339047             obrigacoes tributarias e contributivas
13      339032  material bem ou servico para distribuicao grat...
14      339014                                      diarias civil
15      339035                            servicos de consultoria
16      339018                    auxilio financeiro a estudantes
17      319091                                sentencas judiciais
18      469171           principal da divida contratual resgatada
19      449051                                obras e instalacoes
20      449030                                material de consumo
21      339040  servicos de tecnologia da informacao e comunic...
22      449061                               aquisicao de imoveis
23      339092                  despesas de exercicios anteriores
24      455066          concessao de emprestimos e financiamentos
25      339033                 passagens e despesas com locomocao
26      319092                  despesas de exercicios anteriores
27      469091                                sentencas judiciais
28      319013                               obrigacoes patronais
29      335039       outros servicos de terceiros pessoa juridica
30      319192                  despesas de exercicios anteriores
31      319003                       pensoes do rpps e do militar
32      319001  aposentadorias do rpps reserva remunerada e re...
33      335043                                 subvencoes sociais
34      339031  premiacoes culturais artisticas cientificas de...
35      000001          nao ha dados sobre a classe dessa despesa

In [295]:
save_dataframe(df_tipos_despesa,'dados_tipo_despesas')

with open('arquivos_para_carga/dados_tipo_despesas.csv', 'w', encoding='utf-8', newline='') as f:
    df_tipos_despesa.to_csv(f, **csv_kwargs)

## Dados Despesa

In [296]:
df_contribuinte = merge_dataframes(df_contribuintes_receitas_2020, df_contribuintes_receitas_2022)
df_contribuinte = gerar_codigo_unico(df_contribuinte,'CONCAT_CODIGO')
df_contribuinte.sort_values(['TIPO'], ascending=True, inplace=True)
df_contribuinte_codigo = pd.DataFrame(df_contribuinte[['CONCAT_CODIGO', 'CODIGO']])
df_contribuinte_codigo.reset_index(drop=True)

                         CONCAT_CODIGO          CODIGO
0                 09.123.654/0001-87-1  86eabac73f48c4
1                     080.329.514-66-1  c86a88163a502f
2                     025.419.924-08-1  0d5215bcd76d11
3                     526.406.044-49-1  6709a10d3ece82
4                     823.237.713-53-1  a4c224f5451c8e
...                                ...             ...
6307                  102.097.424-96-4  2521c02e3c6b10
6308              08.923.971/0001-15-4  6e8245200e6967
6309                  646.603.624-34-4  a50e69b97e2b34
6310              08.841.553/0001-89-4  24bf0d009e9239
6311  camara municipal de cajazeiras-4  57efb89539a8a0

[6312 rows x 2 columns]

In [297]:
df_dados_completos_tratados_2020.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CONCAT_CODIGO
0,5,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1,09.123.654/0001-87-1
1,17,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1,08.923.971/0001-15-1
2,68,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1,00.000.000/0099-03-1
3,69,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1,00.000.000/0099-03-1
4,70,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1,00.000.000/0099-03-1

In [298]:
df_dados_2020=pd.merge(df_dados_completos_tratados_2020, df_contribuinte_codigo, on='CONCAT_CODIGO', how='left')
df_dados_completos_2020 = pd.DataFrame(df_dados_2020[['DATA','VALOR','LIQUIDADO','PAGO','SALDO','TIPO','CODIGO']])
df_dados_completos_2020.rename({'TIPO':'FONTE_DADOS','CODIGO':'COD_CONTRIBUINTE'}, axis=1, inplace=True)
df_dados_completos_2020 = df_dados_completos_2020.reindex(['COD_DESPESA','DATA','COD_CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','FONTE_DADOS'], axis=1)
df_dados_completos_2020['DATA'] = pd.to_datetime(df_dados_completos_2020['DATA'], format='%d/%m/%Y')
df_dados_completos_2020['COD_DESPESA'].fillna('000001', inplace=True)

df_dados_completos_2020.head()

,COD_DESPESA,DATA,COD_CONTRIBUINTE,VALOR,LIQUIDADO,PAGO,SALDO,FONTE_DADOS
0,000001,2013-01-03,86eabac73f48c4,45.68,45.68,45.68,0.0,1
1,000001,2013-01-30,886cd0eabf5a18,13309.74,13309.74,13309.74,0.0,1
2,000001,2013-01-30,2d027177369c9d,37073.10,37073.10,37073.10,0.0,1
3,000001,2013-01-30,2d027177369c9d,3223.75,3223.75,3223.75,0.0,1
4,000001,2013-01-30,2d027177369c9d,39698.37,39698.37,39698.37,0.0,1

In [299]:
df_dados_completos_tratados_2022.head()

,DATA,CODIGO_ORGAO,CONTRIBUINTE,COD_DESPESA,TIPO_DESPESA,DATA_INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO,CPF/CNPJ,CONCAT_CODIGO
0,31/12/2021,2140,fundo municipal de assistencia social,339039,outros servicos de terceiros pessoa juridica,12/01/2022,10.45,10.45,10.45,0.0,1,sem informacao,fundo municipal de assistencia social-1
1,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,17820.00,17820.00,17820.00,0.0,1,sem informacao,fundo municipal de assistencia social-1
2,31/12/2021,2140,fundo municipal de assistencia social,319004,contratacao por tempo determinado,11/01/2022,24525.03,24525.03,24525.03,0.0,1,sem informacao,fundo municipal de assistencia social-1
3,31/12/2021,2140,fundo municipal de assistencia social,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,61859.51,61859.51,61859.51,0.0,1,sem informacao,fundo municipal de assistencia social-1
4,31/12/2021,2160,secretaria municipal de desenvolvimento humano,319011,vencimentos e vantagens fixas pessoal civil,11/01/2022,6500.00,6500.00,6500.00,0.0,1,sem informacao,secretaria municipal de desenvolvimento humano-1

In [313]:
df_dados_2022=pd.merge(df_dados_completos_tratados_2022, df_contribuinte_codigo, on='CONCAT_CODIGO', how='left')
df_dados_completos_2022 = pd.DataFrame(df_dados_2022[['COD_DESPESA','DATA','VALOR','LIQUIDADO','PAGO','SALDO','TIPO','CODIGO']])
df_dados_completos_2022.rename({'TIPO':'FONTE_DADOS','CODIGO':'COD_CONTRIBUINTE'}, axis=1, inplace=True)
df_dados_completos_2022 = df_dados_completos_2022.reindex(['COD_DESPESA','DATA','COD_CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','FONTE_DADOS'], axis=1)
df_dados_completos_2022['DATA'] = pd.to_datetime(df_dados_completos_2022['DATA'], format='%d/%m/%Y')
df_dados_completos_2022['COD_DESPESA'] = df_dados_completos_2022['COD_DESPESA'].astype(str)


df_dados_completos_2022.head()

,COD_DESPESA,DATA,COD_CONTRIBUINTE,VALOR,LIQUIDADO,PAGO,SALDO,FONTE_DADOS
0,339039,2021-12-31,1a6d83df959c2f,10.45,10.45,10.45,0.0,1
1,319004,2021-12-31,1a6d83df959c2f,17820.00,17820.00,17820.00,0.0,1
2,319004,2021-12-31,1a6d83df959c2f,24525.03,24525.03,24525.03,0.0,1
3,319011,2021-12-31,1a6d83df959c2f,61859.51,61859.51,61859.51,0.0,1
4,319011,2021-12-31,960bbd4fb54364,6500.00,6500.00,6500.00,0.0,1

In [314]:
df_dados_completos_2022['COD_DESPESA'].dtype

dtype('O')

In [315]:
df_receitas = pd.concat([df_dados_completos_2022,df_dados_completos_2020])
df_receitas
df_receitas.isnull().value_counts()

COD_DESPESA  DATA   COD_CONTRIBUINTE  VALOR  LIQUIDADO  PAGO   SALDO  FONTE_DADOS
False        False  False             False  False      False  False  False          88316
dtype: int64

In [316]:
df_receitas = remove_espacos_duplos(df_receitas)
df_receitas.head()

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_4576\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

,COD_DESPESA,DATA,COD_CONTRIBUINTE,VALOR,LIQUIDADO,PAGO,SALDO,FONTE_DADOS
0,339039,2021-12-31,1a6d83df959c2f,10.45,10.45,10.45,0.0,1
1,319004,2021-12-31,1a6d83df959c2f,17820.00,17820.00,17820.00,0.0,1
2,319004,2021-12-31,1a6d83df959c2f,24525.03,24525.03,24525.03,0.0,1
3,319011,2021-12-31,1a6d83df959c2f,61859.51,61859.51,61859.51,0.0,1
4,319011,2021-12-31,960bbd4fb54364,6500.00,6500.00,6500.00,0.0,1

In [317]:
save_dataframe(df_receitas,'dados_despesas')

with open('arquivos_para_carga/dados_despesas.csv', 'w', encoding='utf-8', newline='') as f:
    df_receitas.to_csv(f, **csv_kwargs)