# Import e tratamento dos dados

## Import de dados

In [2]:
import pandas as pd
import chardet

In [3]:
with open("02_dados_pre_tratados/dados_camara_2014.csv", "rb") as f:
    result = chardet.detect(f.read())

df_camara_2014 = pd.read_csv("02_dados_pre_tratados/dados_camara_2014.csv", sep=";", encoding=result['encoding'])
df_camara_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,6,28/02/2014,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"328.007,83","328.007,83","328.007,83",0
1,10,7,28/02/2014,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"21.436,29","21.436,29","21.436,29",0
2,11,8,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,487,487,487,0
3,12,9,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"5.400,00","5.400,00","5.400,00",0
4,13,10,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"14.555,72","14.555,72","14.555,72",0
...,...,...,...,...,...,...,...,...,...
86,16,92,30/12/2014,Marcos Helder,646.603.624-34,"5.150,00","5.150,00","5.150,00",0
87,17,93,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"6.309,91","6.309,91","6.309,91",0
88,22,94,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"41.448,39","41.448,39","41.448,39",0
89,24,95,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"10.306,70","10.306,70","10.306,70",0
90,25,96,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"1.030,00","1.030,00","1.030,00",0

In [4]:
df_instituto_previdencia_2014 = pd.read_csv("02_dados_pre_tratados/dados_instituto_previdencia_2014.csv", sep=";", encoding=result['encoding'])
df_instituto_previdencia_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,132,1,03/01/2014,LORENA SOARES LACERDA,062.843.174-09,750,750,750,0
1,123,2,08/01/2014,INSS,29.979.036/0169-00,"3.250,62","3.250,62","3.250,62",0
2,132,3,08/01/2014,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
3,132,4,13/01/2014,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"116,24","116,24","116,24",0
4,132,5,14/01/2014,TIM CELULAR S/A,01.009.686/0080-48,"472,38","472,38","472,38",0
...,...,...,...,...,...,...,...,...,...
369,140,371,30/12/2014,SALARIO FAMILIA-CAMARA (BPT),08.841.553/0001-89,"98,64","98,64","98,64",0
370,140,372,30/12/2014,SALARIO FAMILIA-PREFEITURA (BPT),08.923.971/0001-15,"3.793,66","3.793,66",0,"3.793,66"
371,140,373,30/12/2014,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,"2.145,42","2.145,42",0,"2.145,42"
372,140,374,30/12/2014,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,"93,44","93,44",0,"93,44"
373,130,375,30/12/2014,BANCO SANTANDER,11.180.607/0001-17,"208,02","208,02","208,02",0

In [5]:
df_prefeitura_2014 = pd.read_csv("02_dados_pre_tratados/dados_prefeitura_municipal_2014.csv", sep=";", encoding=result['encoding'])
df_prefeitura_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,914,101,20/01/2014,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,"45,11","45,11","45,11",0
1,1008,214,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"34.063,71","34.063,71","34.063,71",0
2,1008,215,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"4.510,00","4.510,00","4.510,00",0
3,905,217,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"4.823,34","4.823,34","4.823,34",0
4,930,219,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"870,15","870,15","870,15",0
...,...,...,...,...,...,...,...,...,...
7861,612,7384,23/12/2014,INSTITUTO BRAS DO MEIO AMBIENTE E DOS REC NAT ...,03.659.166/0007-06,"1.636,40","1.636,40","1.636,40",0
7862,607,7428,29/12/2014,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,"31.535,81","31.535,81",0,"31.535,81"
7863,602,7502,30/12/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"6.361,85","6.361,85",0,"6.361,85"
7864,602,7524,30/12/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,724,724,0,724
7865,611,7914,30/12/2014,DOMINNICI SAVIO AUGUSTO CRISPIM,21.551.210/0001-48,780,780,0,780

In [6]:
df_sctrans_2014 = pd.read_csv("02_dados_pre_tratados/dados_sctrans_2014.csv", sep=";", encoding=result['encoding'])
df_sctrans_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,68,1,12/01/2014,OI FIXO - TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"198,67","198,67","198,67",0
1,67,2,16/01/2014,FRANCISCO CELIO VERISSIMO DE SOUZA,094.565.244-50,500,500,500,0
2,62,3,06/01/2014,EUDOMAR PEREIRA DA COSTA,139.506.814-34,"1.200,00","1.200,00","1.200,00",0
3,63,4,02/01/2014,INDUSTRIA DE CONFECÇÕES SOLINHARES LTDA,07.783.759/0001-37,800,800,800,0
4,68,5,16/01/2014,ADL LINK PROVEDOR DE INTERNET VIA RADIO,05.748.217/0001-06,"61,47","61,47","61,47",0
...,...,...,...,...,...,...,...,...,...
322,56,323,30/12/2014,IPAM - INSTITUTO DE PREVIDENCIA E ASSISTENCIA ...,12.724.464/0001-20,"3.019,50","3.019,50",0,"3.019,50"
323,56,324,30/12/2014,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"2.475,09","2.475,09",0,"2.475,09"
324,56,325,30/12/2014,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.633,28","1.633,28",0,"1.633,28"
325,63,326,30/12/2014,NEWTEC PRODUTOS INTELIGENTES LTDA - AMBRA,02.705.910/0001-03,"57.206,40","57.206,40","57.206,40",0
326,68,327,30/12/2014,THALLIS THIEGO NUNES DOS ANJOS,14.866.736/0001-51,"39.900,35","39.900,35","39.900,35",0

## Tratamento dos DataFrames

In [8]:
# Definindo tipos das colunas antes de ler o dataset
columns_types = {'Empenhado(R$)':float,
                'Liquidado(R$)':float,
                'Pago(R$)':float,
                'Saldo(R$)':float}

In [8]:
'''
Função para tratamento dos valores monetários

'''

def tratar_valores(valor):
    
    '''
        Primeiramente, procura-se a localização do ponto, que separava os milhares, e a vírgula que definia os centavos de reais.
    '''
    posicao_virgula = valor.find(',')
    posicao_ponto = valor.find('.') 
    
    '''
        Após o armazenamento das posições de cada separador, armazenava o valor em uma nova string, sem os pontos e vírgulas, 
        e encontrava a nova posição do separador, agora um ponto.
    '''
    string = ''.join(filter(str.isalnum, valor))
    nova_posicao_ponto = posicao_virgula - (len(valor) - len(string))

    '''
        Por fim, após verificar qual condição a nova string se encaixava, retornava-se a nova string com o devido tratamento.
    '''
    if len(string) == len(valor):
        return valor
    
    elif posicao_ponto != -1:        
        string = string[0:nova_posicao_ponto+1] + '.' + string[nova_posicao_ponto+1:]
        return string
    
    else:
        string = string[0:posicao_virgula] + '.' + string[posicao_virgula:]
        return string

### Tratando dados

In [10]:
df_camara_2014['Empenhado(R$)'] = df_camara_2014['Empenhado(R$)'].apply(tratar_valores)
df_camara_2014['Pago(R$)'] = df_camara_2014['Pago(R$)'].apply(tratar_valores)
df_camara_2014['Liquidado(R$)'] = df_camara_2014['Liquidado(R$)'].apply(tratar_valores)

df_camara_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,6,28/02/2014,Câmara Municipal de Cajazeiras,08.841.553/0001-89,3280078.3,3280078.3,3280078.3,0
1,10,7,28/02/2014,Câmara Municipal de Cajazeiras,08.841.553/0001-89,214362.9,214362.9,214362.9,0
2,11,8,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,487,487,487,0
3,12,9,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,54000.0,54000.0,54000.0,0
4,13,10,28/02/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,145557.2,145557.2,145557.2,0
...,...,...,...,...,...,...,...,...,...
86,16,92,30/12/2014,Marcos Helder,646.603.624-34,51500.0,51500.0,51500.0,0
87,17,93,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,63099.1,63099.1,63099.1,0
88,22,94,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,414483.9,414483.9,414483.9,0
89,24,95,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,103067.0,103067.0,103067.0,0
90,25,96,30/12/2014,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,10300.0,10300.0,10300.0,0

In [11]:
df_instituto_previdencia_2014['Empenhado(R$)'] = df_instituto_previdencia_2014['Empenhado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2014['Pago(R$)'] = df_instituto_previdencia_2014['Pago(R$)'].apply(tratar_valores)
df_instituto_previdencia_2014['Liquidado(R$)'] = df_instituto_previdencia_2014['Liquidado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2014['Saldo(R$)'] = df_instituto_previdencia_2014['Saldo(R$)'].apply(tratar_valores)

df_instituto_previdencia_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,132,1,03/01/2014,LORENA SOARES LACERDA,062.843.174-09,750,750,750,0
1,123,2,08/01/2014,INSS,29.979.036/0169-00,3250.62,3250.62,3250.62,0
2,132,3,08/01/2014,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
3,132,4,13/01/2014,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,116.24,116.24,116.24,0
4,132,5,14/01/2014,TIM CELULAR S/A,01.009.686/0080-48,472.38,472.38,472.38,0
...,...,...,...,...,...,...,...,...,...
369,140,371,30/12/2014,SALARIO FAMILIA-CAMARA (BPT),08.841.553/0001-89,98.64,98.64,98.64,0
370,140,372,30/12/2014,SALARIO FAMILIA-PREFEITURA (BPT),08.923.971/0001-15,3793.66,3793.66,0,3793.66
371,140,373,30/12/2014,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,2145.42,2145.42,0,2145.42
372,140,374,30/12/2014,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,93.44,93.44,0,93.44
373,130,375,30/12/2014,BANCO SANTANDER,11.180.607/0001-17,208.02,208.02,208.02,0

In [12]:
df_prefeitura_2014['Empenhado(R$)'] = df_prefeitura_2014['Empenhado(R$)'].apply(tratar_valores)
df_prefeitura_2014['Pago(R$)'] = df_prefeitura_2014['Pago(R$)'].apply(tratar_valores)
df_prefeitura_2014['Liquidado(R$)'] = df_prefeitura_2014['Liquidado(R$)'].apply(tratar_valores)
df_prefeitura_2014['Saldo(R$)'] = df_prefeitura_2014['Saldo(R$)'].apply(tratar_valores)

df_prefeitura_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,914,101,20/01/2014,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.11,45.11,45.11,0
1,1008,214,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,34063.71,34063.71,34063.71,0
2,1008,215,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,4510.00,4510.00,4510.00,0
3,905,217,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,4823.34,4823.34,4823.34,0
4,930,219,31/01/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,870.15,870.15,870.15,0
...,...,...,...,...,...,...,...,...,...
7861,612,7384,23/12/2014,INSTITUTO BRAS DO MEIO AMBIENTE E DOS REC NAT ...,03.659.166/0007-06,1636.40,1636.40,1636.40,0
7862,607,7428,29/12/2014,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,31535.81,31535.81,0,31535.81
7863,602,7502,30/12/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,6361.85,6361.85,0,6361.85
7864,602,7524,30/12/2014,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,724,724,0,724
7865,611,7914,30/12/2014,DOMINNICI SAVIO AUGUSTO CRISPIM,21.551.210/0001-48,780,780,0,780

In [13]:
df_sctrans_2014['Empenhado(R$)'] = df_sctrans_2014['Empenhado(R$)'].apply(tratar_valores)
df_sctrans_2014['Pago(R$)'] = df_sctrans_2014['Pago(R$)'].apply(tratar_valores)
df_sctrans_2014['Liquidado(R$)'] = df_sctrans_2014['Liquidado(R$)'].apply(tratar_valores)
df_sctrans_2014['Saldo(R$)'] = df_sctrans_2014['Saldo(R$)'].apply(tratar_valores)

df_sctrans_2014

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,68,1,12/01/2014,OI FIXO - TELEMAR NORTE LESTE S/A,33.000.118/0012-21,198.67,198.67,198.67,0
1,67,2,16/01/2014,FRANCISCO CELIO VERISSIMO DE SOUZA,094.565.244-50,500,500,500,0
2,62,3,06/01/2014,EUDOMAR PEREIRA DA COSTA,139.506.814-34,1200.00,1200.00,1200.00,0
3,63,4,02/01/2014,INDUSTRIA DE CONFECÇÕES SOLINHARES LTDA,07.783.759/0001-37,800,800,800,0
4,68,5,16/01/2014,ADL LINK PROVEDOR DE INTERNET VIA RADIO,05.748.217/0001-06,61.47,61.47,61.47,0
...,...,...,...,...,...,...,...,...,...
322,56,323,30/12/2014,IPAM - INSTITUTO DE PREVIDENCIA E ASSISTENCIA ...,12.724.464/0001-20,3019.50,3019.50,0,3019.50
323,56,324,30/12/2014,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,2475.09,2475.09,0,2475.09
324,56,325,30/12/2014,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1633.28,1633.28,0,1633.28
325,63,326,30/12/2014,NEWTEC PRODUTOS INTELIGENTES LTDA - AMBRA,02.705.910/0001-03,57206.40,57206.40,57206.40,0
326,68,327,30/12/2014,THALLIS THIEGO NUNES DOS ANJOS,14.866.736/0001-51,39900.35,39900.35,39900.35,0

## Salvando dados tratados

In [19]:
df_instituto_previdencia_2014.to_csv('03_dados_tratados/dados_instituto_previdencia_2014_tratados.csv', index=False, sep=';')
df_prefeitura_2014.to_csv('03_dados_tratados/dados_prefeitura_2014_tratados.csv', index=False, sep=';')
df_sctrans_2014.to_csv('03_dados_tratados/dados_sctrans_2014_tratados.csv', index=False, sep=';')
df_camara_2014.to_csv('03_dados_tratados/dados_camara_2014_tratados.csv', index=False, sep=';')